{# {{ JOB_CARD }}
/*JOBPARM SYSAFF={{ DFS_IMS_SYSAFF }}
//MYLIBS JCLLIB ORDER=({{ DFS_PROCLIB }},{{ DFS_JOBLIB }})
//STARTCTL       EXEC PGM=ISFAFD
//ISFOUT DD SYSOUT=*
//ISFIN  DD *
LOG
/{{ DFS_IMS_SSID }}START REGION IMSMSG JOBNAME {{ DFS_IMS_SSID }}MPP{{ REGION_NUM|string }}
/*    #}
{{ JOB_CARD }}
{%- if 'REG=' not in JOB_CARD and 'REGION=' not in JOB_CARD %}
,
//  REGION=0M
{% endif %}
//*
//MPPSTRT         EXEC  PGM=IEBGENER
//SYSPRINT  DD    SYSOUT=*
//SYSUT2    DD    SYSOUT=(A,INTRDR)
//SYSIN     DD    DUMMY
//SYSUT1    DD    DSN={{ DFS_JOBLIB }}({{ DFS_IMS_SSID }}MPP{{ REGION_NUM|string }}),DISP=SHR
/*