{{ JOB_CARD }}
/*JOBPARM SYSAFF={{ DFS_IMS_SYSAFF }}
//MYLIBS JCLLIB ORDER=({{ DFS_PROCLIB }},{{ DFS_JOBLIB }})
//STARTCTL       EXEC PGM=ISFAFD
//ISFOUT DD SYSOUT=*
//ISFIN  DD *
LOG
/{{ DFS_IMS_SSID }}STOP REGION JOBNAME {{ DFS_IMS_SSID }}MPP{{ REGION_NUM|string }} 
/*   