acl internal_nets { cluster_subnet_range; };

options {
	listen-on port 53 { 127.0.0.1; {{ bastion_private_ip_address}};};
	listen-on-v6 port 53 { none; };
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";
	secroots-file	"/var/named/data/named.secroots";
	recursing-file	"/var/named/data/named.recursing";
	allow-query     { localhost; internal_nets; };

	recursion yes;
	allow-recursion { localhost; internal_nets; };
	forwarders { {{ dns_forwarder }}; };

	dnssec-enable yes;
	dnssec-validation no;

	managed-keys-directory "/var/named/dynamic";

	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";

	/* https://fedoraproject.org/wiki/Changes/CryptoPolicy */
	/* include "/etc/crypto-policies/back-ends/bind.config";*/
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
	type hint;
	file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

zone "{{ cluster_name }}.{{ base_domain }}" {
	type master;
	file "{{ cluster_name }}.{{ base_domain }}.zone";
	allow-query { any; };
	allow-transfer { none; };
	allow-update { none; };
};


zone "bastion_subnet_prefix_reverse.in-addr.arpa" {
        type master;
        file "bastion_subnet_prefix_reverse.in-addr.arpa.zone";
        allow-query { any; };
        allow-transfer { none; };
        allow-update { none; };
};
