//POPUTIL JOB 'testing',
//  NOTIFY=OMVSADM,
//  USER=OMVSADM,
//  MSGCLASS=E,
//  MSGLEVEL=(1,1),
//  CLASS=K
//********************************************************
//* FUCNTION: Populate Utility
//********************************************************
//LOADCAT EXEC PGM=DFS3PU00,REGION=0M,
// PARM=(DLI,DFS3PU00,DFSCPL00,,,,,,,,,,,Y,N,,,,,,,,,,,,'DFSDF={{DFS_MEMBER_SUFFIX}}')
//STEPLIB  DD  DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.SDFSRESL,DISP=SHR
//DFSRESLB DD  DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.SDFSRESL,DISP=SHR
//IMS      DD  DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.DBDLIB,DISP=SHR
//         DD  DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.PSBLIB,DISP=SHR
//PROCLIB  DD  DSN={{DFS_IMS_PROCLIB}},DISP=SHR
//DFSVSAMP DD  DSN={{DFS_IMS_PROCLIB}}({{BUFFER_POOL_PARAMETER}}),DISP=SHR
//RECON1   DD  DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.RECON1,DISP=SHR
//RECON2   DD  DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.RECON2,DISP=SHR
//RECON3   DD  DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.RECON3,DISP=SHR
//IMSACB01 DD  DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.ACBLIB,DISP=SHR
//SYSABEND DD  SYSOUT=*
//SYSPRINT DD  SYSOUT=* 
//SYSINP   DD  *
// 