{# Copyright (c) IBM Corporation 2020 #}
ADDUSER {{ userid | upper }}
{%- if default_group %}
 DFLTGRP({{ default_group | upper }})
{%- endif %}
{%- if default_group_authority %}
 AUTHORITY({{ default_group_authority | upper }})
{%- endif %}
{%- if owner %}
 OWNER({{ owner | upper }})
{%- endif %}
{%- if name %}
 NAME('{{ name }}')
{%- endif %}
{%- if password and not passphrase %}
 PASSWORD({{ password | upper }})
{%- endif %}
{%- if passphrase %}
 PHRASE('{{ passphrase }}')
{%- endif %}
{%- if security_label %}
 SECLABEL({{ security_label | upper }})
{%- endif %}
{%- if security_level %}
 SECLEVEL({{ security_level | upper }})
{%- endif %}
{%- if security_categories and security_categories | length > 0 %}
 ADDCATEGORY(
{%- for category in security_categories %}
 {{ category | upper }}
{%- endfor %}
 )
{%- endif %}
{% if tso_account_number or tso_logon_procedure %}
 TSO(
{%- if tso_account_number %}
 ACCTNUM('{{ tso_account_number | upper }}')
{%- endif %}
{%- if tso_logon_procedure %}
 PROC({{ tso_logon_procedure | upper }})
{%- endif %}
 )
{%- endif %}
{% if dfp_data_application or data_class or management_class or storage_class %}
 DFP(
{%- if dfp_data_application %}
 DATAAPPL({{ dfp_data_application }})
{%- endif %}
{%- if data_class %}
 DATACLAS({{ data_class }})
{%- endif %}
{%- if management_class %}
 MGMTCLAS({{ management_class }})
{%- endif %}
{%- if dfp_data_application %}
 STORCLAS({{ storage_class }})
{%- endif %}
 )
{%- endif %}
 OMVS(
{%- if omvs_uid %}
 UID({{ omvs_uid }})
{%- else %}
 AUTOUID
{%- endif %}
 HOME('{{ omvs_home_directory }}')
{{- ' )' }}