---
# User Exit Services
- name: User Exit Services
  collections:
    - ibm.ibm_zos_core
    - ibm.ibm_zos_ims

  block:

    - when: prep_exits and not provision
      block:
        - ansible.builtin.set_fact:
            eager_role_path: '{{role_path}}'

        - ansible.builtin.include_role:
            name: send-template
          vars:
            path: '{{ eager_role_path }}/templates/DFSE315J.j2'

    - name: Prep exits for IMS security and conn
      command: 'jsub -f {{ uss_file_path }}/DFSE315J.j2'
      # zos_job_submit:
      #   src: '{{ uss_file_path }}/DFSE315J.j2'
      #   location: USS
      #   wait: true
      #   wait_time_s: 30
      when: prep_exits
