{% set bootstrap = cluster_nodes['bootstrap'] %}
{% set masters = cluster_nodes['masters'] %}
{% set infra = cluster_nodes['infra'] %}
$TTL 900

@                     IN SOA bastion.{{ cluster_name }}.{{ base_domain }}. hostmaster.{{ cluster_name }}.{{ base_domain }}. (
                        2019062002 1D 1H 1W 3H
                      )
                      IN NS bastion.{{ cluster_name }}.{{ base_domain }}.

bastion               IN A {{ bastion_public_ip_address }}
api                   IN A {{ bastion_public_ip_address }}
api-int               IN A {{ bastion_public_ip_address }}
apps                  IN A {{ bastion_public_ip_address }}
*.apps                IN A {{ bastion_public_ip_address }}

{% for item in bootstrap.keys() %}
{{ item }}           IN A {{ bootstrap[item].ip }}
{% endfor %}

{% for item in masters.keys() %}
{{ item }}              IN A {{ masters[item].ip }}
{% endfor %}

{% if infra is defined %}
{% for item in infra.keys() %}
{{ item }}              IN A {{ infra[item].ip }}
{% endfor %}
{% endif %}
