<server description="new server">
<include location="/var/zosconnect/servers/pjlserver/resources/imsmobile-config/interactions/ims-interactions.xml" optional="true"/>
<include location="/var/zosconnect/servers/pjlserver/resources/imsmobile-config/connections/ims-connections.xml" optional="true"/>
<include location="/var/zosconnect/servers/pjlserver/resources/imsmobile-config/services/ims-services.xml" optional="true"/>
<include location="/var/zosconnect/servers/pjlserver/ims-admin-services.xml" optional="true"/>

    <!-- Enable features -->
    <featureManager>
        <feature>zosconnect:zosConnect-2.0</feature>
        <feature>zosconnect:zosConnectCommands-1.0</feature>
        <feature>imsmobile:imsmobile-2.0</feature>
        <feature>zosconnect:cicsService-1.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint host="*" httpPort="9088" httpsPort="9443" id="defaultHttpEndpoint"/>

    <!-- add cors to allow cross origin access, e.g. when using swagger UI to fetch swagger doc from zOS Connect Enterprise Edition  -->
    <cors allowCredentials="true" allowedHeaders="Origin, Content-Type, Authorization" allowedMethods="GET, POST, PUT, DELETE, OPTIONS" allowedOrigins="*" domain="/" id="defaultCORSConfig" maxAge="3600"/>

    <!-- NOTE: Disabling automatic polling for changes to configuration files,
	     deployed services and APIs is a prudent option for z/OS Connect EE.
		 Polling might be convenient for iterative development and test
		 systems, but not for production.

	     Configuration elements that can drive significant polling activity by
		 default are specified below to explicitly disable automatic polling.
		 Further element types to consider for polling interval include
		 zosconnect_zosConnectDataXform (default 2 seconds) and
		 keyStore (default 500 milliseconds).

		 Consider setting the updateTrigger attribute to "polled" if changes
		 to associated resources need to be picked up automatically, and tune
		 the polling interval accordingly. The attribute that controls polling
		 frequency for each of these elements is included, together with its
		 associated default value.
    -->

    <!-- config requires updateTrigger="mbean" for REFRESH command support -->
    <config monitorInterval="500" updateTrigger="mbean"/>

    <ssl clientAuthentication="false" id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore"/>

    <keyStore id="defaultKeyStore" password="zosconnect"/>

    <keyStore id="defaultTrustStore" password="zosconnect"/>

    <webAppSecurity allowFailOverToBasicAuth="true"/>

    <basicRegistry id="basic1" realm="zosConnect">
        <user name="Fred" password="fredpwd"/>
    </basicRegistry>

    <webAppSecurity allowFailOverToBasicAuth="true"/>

    <authorization-roles id="zos.connect.access.roles">
        <security-role name="zosConnectAccess">
            <user name="Fred"/>
        </security-role>
    </authorization-roles>

    <zosconnect_zosConnectManager asyncRequestTimeout="1h30m60s"
    globalAdminGroup="ADMINS" globalInvokeGroup="INVOKERS" globalOperationsGroup="OPERATORS"
    globalReaderGroup="READERS" requireAuth="true" requireSecure="false"
    setUTF8ResponseEncoding="true" useJsonErrorResponses="true"/>

    <!-- zosConnect APIs -->
    <zosconnect_zosConnectAPIs pollingRate="5s" updateTrigger="polled"/>

    <!-- zosConnect Services -->
    <zosconnect_services pollingRate="5s" updateTrigger="polled"/>

    <!-- applicationMonitor is not applicable for z/OS Connect EE servers -->
    <applicationMonitor dropinsEnabled="false" updateTrigger="disabled"/>

	<!-- <logging maxFileSize="20" maxFiles="2" traceFileName="zosconnect.log" traceFormat="BASIC" traceSpecification="zosConnect=all"/> -->
	<!-- <logging maxFileSize="20" maxFiles="2" traceFileName="zosconnect.log" traceFormat="BASIC"
	traceSpecification="zosConnect=all:com.ibm.zosconnect.wv*=finest:com.ibm.j2ca.RAIMSTM*=FINEST:com.ibm.ims.gateway*=finest"/> -->
	
	<zosconnect_cicsIpicConnection id="CICS1" host="localhost" port="65530" />
</server>
