//******************************************************************
//*  FDR Procedure
//*
//*  This procedure executes a Fast Database Recovery (FDBR)
//*  address space.
//*
//*  The high-level qualifier of the IMS data sets is IMS.
//*  If your installation does not use this default value,
//*  then set the NODEx parameters, which correspond
//*  to the names specified in the IMSGEN macro.
//*
//************* C O N D I T I O N A L   C H A N G E ******************
//*  IMPORTANT: This procedure needs to be modified if
//*  any of the following are true:
//*  - DBCTL system
//*  Look for the 'Conditional Change' comment lines.
//************* C O N D I T I O N A L   C H A N G E ******************
//*
//*
//***********************************************************@SCPYRT**
//*
//*  Licensed Materials - Property of IBM
//*
//*  5635-A06
//*
//*      Copyright IBM Corp. 2016      All Rights Reserved
//*
//*  US Government Users Restricted Rights - Use, duplication or
//*  disclosure restricted by GSA ADP Schedule contract with
//*  IBM Corp.
//*
//***********************************************************@ECPYRT**
//*
//************* C O N D I T I O N A L   C H A N G E ******************
//* IF THIS IS A DBCTL SYSTEM, THEN REPLACE THE FDR PROC
//* STATEMENTS BELOW WITH THIS:
//*       PROC RGN=64M,SOUT=A,DPTY='(14,15)',
//*            SYS=,SYS2=,
//*            RGSUF=DBC,PARM1=,PARM2=
//************* C O N D I T I O N A L   C H A N G E ******************
//*
//       PROC RGN=64M,SOUT=A,DPTY='(14,15)',
//            SYS=,SYS2=,
//            RGSUF=IMS,PARM1=,PARM2=
//*
//IEFPROC EXEC PGM=DFSMVRC0,DPRTY=&DPTY,
//            REGION=&RGN,
//            PARM='FDR,&RGSUF,&PARM1,&PARM2'
//*
//*
//* THE MEANING AND MAXIMUM SIZE OF EACH PARAMETER
//* IS AS FOLLOWS:
//*
//******** CONTROL REGION SPECIFICATIONS ********
//****************************************************
//*   RGSUF  XXX   EXEC PARM DEFAULT BLOCK SUFFIX FOR
//*                MEMBER DFSPBXXX.
//****************************************************
//*
//*  PARM1 , PARM2 PARAMETERS BOTH ARE USED TO SPECIFY
//*  CHARACTER STRINGS THAT CONTAIN IMS KEYWORD
//*  PARAMETERS. I.E. PARM1='AUTO=Y,PST=222,RES=Y'
//*
//*  ALL OF THE VALID IMS KEYWORD PARAMETERS
//*  ARE DESCRIBED BELOW
//****************************************************
//*   FMTO         T = ONLINE FORMATTED DUMP WITH
//*                    STORAGE IMAGE DELETIONS.
//*                    OFFLINE SDUMPS PERMITTED FOR
//*                    NON-IMS TERMINATING ERRORS.
//*                P = FULL ONLINE FORMATTED DUMP.
//*                    OFFLINE SDUMPS PERMITTED FOR
//*                    NON-IMS TERMINATING ERRORS.
//*                F = FULL ONLINE FORMATTED DUMP.
//*                    OFFLINE SDUMPS SUPPRESSED FOR
//*                    NON-IMS TERMINATING ERRORS.
//*                N = NO FORMATTED DUMP, NO OFFLINE
//*                    DUMP. OFFLINE SDUMPS PERMITTED
//*                    FOR NON-IMS TERMINATING ERRORS
//*                Z = NO FORMATTED DUMP, NO OFFLINE
//*                    DUMP. OFFLINE SDUMPS
//*                    SUPPRESSED FOR NON-IMS
//*                    TERMINATING ERRORS.
//*  (DEFAULT)     D = OFFLINE DUMP, OR ONLINE FORMAT-
//*                    TED DUMP WITH STORAGE IMAGE
//*                    DELETIONS IF OFFLINE DUMPING
//*                    FAILS.  OFFLINE SDUMPS
//*                    PERMITTED FOR NON-IMS
//*                    TERMINATING ERRORS.
//*                X = OFFLINE DUMP, OR ONLINE FORMAT-
//*                    TED DUMP WITH STORAGE IMAGE
//*                    DELETIONS IF OFFLINE DUMPING
//*                    FAILS. OFFLINE SDUMPS
//*                    SUPPRESSED FOR NON-IMS
//*                    TERMINATING ERRORS.
//*                M = OFFLINE DUMP, ONLINE IMS DUMP
//*                    FORMATTING NOT PERMITTED.
//*                    OFFLINE SDUMPS PERMITTED FOR
//*                    NON-IMS TERMINATING ERRORS.
//*                R = OFFLINE DUMP, ONLINE IMS DUMP
//*                    FORMATTING NOT PERMITTED.
//*                    OFFLINE SDUMPS SUPPRESSED FOR
//*                    NON-IMS TERMINATING ERRORS.
//*   IMSID  XXXX  IMS SUBSYSTEM IDENTIFIER
//*   ARMRST X     Y = ALLOW MVS ARM TO RESTART
//*                N = ARM NOT RESTART IMS
//*   IRLMNM XXXX  IRLM SUBSYSTEM NAME
//*   WADS   X     SINGLE OR DUAL WADS,S=SINGLE,D=DUAL
//*   ARC    XX    AUTOMATIC ARCHIVE.
//*                0 = NOT AUTOMATIC
//*                1-99 = AUTOMATIC
//*   UHASH  XXXXXXXX USER HASH MODULE NAME
//*   IMSPLEX XXXXX IMSPLEX NAME
//*   DESC    XX    MSG DESC CODE
//*   MCS     (XX,XX) MSG ROUTE CODES
//*   SVC2    XXX   TYPE 2 SVC NUMBER
//*   DBRCGRP XXX  DBRC SHARING GROUP ID
//******** FAST PATH PARAMETERS ********
//*
//*   BSIZ   XXXXX DATA BASE BUFFER SIZE
//*   DBBF   XXXXX NUMBER OF DATABASE BUFFERS
//*   LGNR   XX    NUMBER OF LOG ENTRIES IN DEDB BUFFERHEADER
//******** STORAGE POOL VALUES IN K, M OR G *******
//*
//*   PSB    XXXXXX PSB POOL SIZE - NON DLISAS
//*   DMB    XXXXXX DMB POOL SIZE
//*   WKAP   XXXXXX WORKING STORAGE BUFFER POOL SIZE
//*   DBWP   XXXXXX DATABASE WORK POOL SIZE
//*   CSAPSB XXXXXX DLISAS: CSA PSB POOL SIZE
//*   DLIPSB XXXXXX DLISAS: DLI PSB POOL SIZE
//*
//******** MEMBER SUFFIXES **********************
//*
//*   SUF    X     LAST CHARACTER OF CTL PROGRAM LOAD
//*                MODULE MEMBER NAME
//*   VSPEC  XX    2 CHARACTER BUFFER POOL SPEC MODULE SUFFIX
//*   SPM    XX     STG POOL MGR PROCLIB MEMBER SUFFIX
//*   CSLG   XXX CSL GLOBAL MEMBER (DFSCGXXX)
//*
//***********************************************
//*
//STEPLIB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.SDFSRESL,DISP=SHR
//PROCLIB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.PROCLIB,DISP=SHR
//JCLOUT   DD SYSOUT=(A,INTRDR)
//JCLPDS   DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.PROCLIB,DISP=SHR
//*
//*********** DASD  LOGGING DD CARDS *************
//* THE FOLLOWING DD CARDS DESCRIBE THE DASD LOGGING
//* OLDS AND WADS. THESE CARDS ARE FOR EXAMPLE ONLY.
//* ALL OLDS AND WADS DATA SETS MAY BE DYNAMICALLY
//* ALLOCATED.  DD CARDS ARE NOT REQUIRED.
//* THE OLDS AND WADS TO BE USED DURING STARTUP MUST
//* BE SPECIFIED VIA OLDSDEF AND WADSDEF CONTROL
//* STATEMENTS IN THE DFSVSMXX MEMBER OF IMS PROCLIB.
//* THE ACTUAL SELECTION OF OLDS AND WADS MUST BE
//* TAILORED TO INSTALLATION REQUIREMENTS.  THE OLDS
//* AND WADS MUST BE PREDEFINED BY A SET UP JOB.
//* THE BLOCK SIZE OF ALL OLDS MUST BE THE SAME.
//* THE BLOCK SIZE AND DEVICE TYPE OF ALL WADS MUST
//* BE THE SAME.  AT LEAST 3 PRIMARY OLDS AND 1 WADS
//* MUST BE AVAILABLE FOR STARTUP.  THE BLOCK SIZE
//* SHOULD NOT BE SPECIFIED IN THIS JCL.  THE LOGGER
//* WILL GET THE BLOCK SIZE FROM THE VTOC.
//*
//DFSOLP00 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLP00,DISP=SHR
//DFSOLP01 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLP01,DISP=SHR
//DFSOLP02 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLP02,DISP=SHR
//DFSOLP03 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLP03,DISP=SHR
//DFSOLP04 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLP04,DISP=SHR
//DFSOLP05 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLP05,DISP=SHR
//*
//DFSOLS00 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLS00,DISP=SHR
//DFSOLS01 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLS01,DISP=SHR
//DFSOLS02 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLS02,DISP=SHR
//DFSOLS03 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLS03,DISP=SHR
//DFSOLS04 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLS04,DISP=SHR
//DFSOLS05 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLS05,DISP=SHR
//*
//DFSWADS0 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.WADS0,DISP=SHR
//DFSWADS1 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.WADS1,DISP=SHR
//*
//IMSACBA  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.ACBLIBA,DISP=SHR
//IMSACBB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.ACBLIBB,DISP=SHR
//MODBLKSA DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.MODBLKSA,DISP=SHR
//MODBLKSB DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.MODBLKSB,DISP=SHR
//MODSTAT  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.MODSTAT,DISP=SHR
//******** SYSTEM STATEMENTS *************************
//*
//SYSUDUMP DD SYSOUT=&SOUT,
//         DCB=(LRECL=125,RECFM=FBA,BLKSIZE=3129),
//         SPACE=(6050,300,,,ROUND)
//IMSRDS   DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.RDS,DISP=SHR
//*
//************ DATA BASE DD CARDS ***************
//*
//* USER MAY OPTIONALLY SUPPLY THE DD STATEMENTS
//* FOR THE ON-LINE DATA BASES TO BE
//* INSERTED HERE PRIOR TO ATTEMPTING
//* AN ON-LINE SYSTEM EXECUTION USING
//* THIS PROCEDURE.
//* IF NO DD STATEMENTS ARE SUPPLIED FOR
//* A DATA BASE, IMS ASSUMES THAT THIS
//* DATA BASE HAS BEEN DESCRIBED THROUGH
//* THE DFSMDA MACRO.
//* IF THE USER WILL BE EXECUTING WITH THE DL/I
//* SAS OPTION, THESE DD STATEMENTS SHOULD BE ADDED
//* TO THE DLISAS PROCLIB MEMBER OR DESCRIBED
//* THROUGH THE DFSMDA MACRO.
//*
//************ DBRC RECON DD CARDS **************
//*
//* USER MAY OPTIONALLY SUPPLY THE DD CARDS
//* REQUIRED FOR THE DBRC RECON DATA SET.
//* IF NO DD STATEMENTS ARE SUPPLIED FOR RECON
//* DATASETS, IMS ASSUMES THAT THE DATASETS
//* HAVE BEEN DESCRIBED THROUGH THE DFSMDA MACRO.
//*
