//******************************************************************
//*  IMSWT000 Procedure
//*
//*  This job can be used to run the DFSWT000 procedure,
//*  which invokes the Spool SYSOUT utility program
//*  (DFSUPRT0) for printing the Spool SYSOUT dataset.
//*
//************* C O N D I T I O N A L   C H A N G E ******************
//*  IMPORTANT:
//*
//*  This job executes the DFSWT000 procedure
//*
//*  The DFSWT000 procedure is designed to invoke the utility program
//*  for a group of SPOOL devices associated with a single
//*  LINEGRP definition in IMS Sysgen Stage 1 definitions.
//*
//*  If there are multiple DFSWTxxx procedures defined
//*  to handle multiple LINEGRP definitions,
//*  then you can copy this IMSWT000 sample into separate
//*  jobs (ie IMSWT001, IMSWT002, etc).
//*
//************* E N D   C O N D I T I O N A L   C H A N G E **********
//*
//***********************************************************@SCPYRT**
//*
//*  Licensed Materials - Property of IBM
//*
//*  5635-A06
//*
//*      Copyright IBM Corp. 2016      All Rights Reserved
//*
//*  US Government Users Restricted Rights - Use, duplication or
//*  disclosure restricted by GSA ADP Schedule contract with
//*  IBM Corp.
//*
//***********************************************************@ECPYRT**
//*
//SPRT0 JOB 1,IMS,CLASS=A,MSGCLASS=A,MSGLEVEL=1
//        EXEC DFSWT000
