---
# defaults file for ims_cobol_stop_mpp_region

# DFSMPR proc parameters
SEND_CUSTOM_DFSMPR: yes
DFSMPR_NAME: DFSMPR{{ REGION_NUM | string }}

# this will be appended to the region name, example: IMS1MPP5 where REGION_NUM='5' and DFS_IMS_SSID='IMS1'
REGION_NUM: 2

## TSO USERID for executing the environment setup
TSO_USERID: '{{ DFS_IMS_USERID }}'

## The system eligible to run our jobs, optional
DFS_IMS_SYSAFF: ''

## z/OS  related 
ZOS_CSSLIB: '{{ zCloud_CSSLIB }}'
ZOS_LERUNLIB: '{{ zCloud_LERuntime }}'
ZOS_MACLIB: '{{ zCloud_MACLIB }}'

# DB2 parameters
WITH_DB2: no
DB2_SSM: ''

USE_PSEUDO_WFI: no 

## IMS application variables 	
DFS_tranclass1: '005' # '008'
DFS_tranclass2: '000'
DFS_tranclass3: '000'
DFS_tranclass4: '000'
DFS_appname: 'Y'
DFS_traname: 'Y'

REPLACE_MEMBERS: yes
