{{ JOB_CARD }}
//SPOC      EXEC PGM=CSLUSPOC,
//  PARM=('IMSPLEX={{ DFS_IMSPlex }},ROUTE={{ DFS_IMS_SSID }},WAIT=30,F=WRAP')
//STEPLIB   DD DISP=SHR,DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.SDFSRESL
//SYSPRINT  DD SYSOUT=*
//SYSIN     DD *
   /NRE CHECKPOINT 0 FMT ALL.
/*