{{ JOB_CARD }}
//MYLIB JCLLIB ORDER=({{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.PROCLIB)
//* SKELETON: DFSIXSE2
//************************************************************@SCPYRT**
//*                                                                   *
//*  LICENSED MATERIALS - PROPERTY OF IBM                             *
//*                                                                   *
//*  5635-A04                                                         *
//*                                                                   *
//*      COPYRIGHT IBM CORP. 1989,2015 ALL RIGHTS RESERVED            *
//*                                                                   *
//*  US GOVERNMENT USERS RESTRICTED RIGHTS - USE, DUPLICATION OR      *
//*  DISCLOSURE RESTRICTED BY GSA ADP SCHEDULE CONTRACT WITH          *
//*  IBM CORP.                                                        *
//*                                                                   *
//************************************************************@ECPYRT**
//*
//* PSBGEN FOR THE IVP NON-CONV TP PROGRAM - HIDAM/OSAM DATA BASE
//*
//DFSIVP1  EXEC PROC=PSBGEN,MBR=DFSIVP1,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP1)
//*
//* PSBGEN FOR THE IVP NON-CONV TP PROGRAM - HDAM/VSAM DATA BASE
//*
//DFSIVP2  EXEC PROC=PSBGEN,MBR=DFSIVP2,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP2)
//*
//* PSBGEN FOR THE IVP CONVERSATIONAL TP PROGRAM - HDAM/VSAM DATA BASE
//*
//* ASSEMBLER
//DFSIVP3  EXEC PROC=PSBGEN,MBR=DFSIVP3,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP3)
//* PASCAL
//DFSIVP31 EXEC PROC=PSBGEN,MBR=DFSIVP31,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP31)
//* C
//DFSIVP32 EXEC PROC=PSBGEN,MBR=DFSIVP32,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP32)
//* COBOL
//DFSIVP34 EXEC PROC=PSBGEN,MBR=DFSIVP34,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP34)
//* REXX
//DFSIVP35 EXEC PROC=PSBGEN,MBR=DFSIVP35,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP35)
//*
//* PSBGEN FOR THE IVP NON-CONV TP PROGRAM - HIDAM/OSAM DATA BASE
//* FOR DRD SAMPLE
//*
//DFSIVPD2 EXEC PROC=PSBGEN,MBR=DFSIVPD2,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVPD2)
//*
//* PSBGEN FOR THE IVP IFP PROGRAM - DEDB DATA BASE
//*
//DFSIVP4  EXEC PROC=PSBGEN,MBR=DFSIVP4,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP4)
//*
//* PSBGEN FOR THE IVP IFP PROGRAM - MSDB DATA BASE
//*
//DFSIVP5  EXEC PROC=PSBGEN,MBR=DFSIVP5,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP5)
//*
//* PSBGEN FOR THE FAST PATH SAMPLE APPLICATION
//*
//*
//DBFSAMP1 EXEC PROC=PSBGEN,MBR=DBFSAMP1,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DBFSAMP1)
//*
//* PSBGEN FOR THE FAST PATH SAMPLE APPLICATION
//*
//DBFSAMP2 EXEC PROC=PSBGEN,MBR=DBFSAMP2,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DBFSAMP2)
//*
//* PSBGEN FOR THE FAST PATH SAMPLE APPLICATION
//*
//DBFSAMP3 EXEC PROC=PSBGEN,MBR=DBFSAMP3,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DBFSAMP3)
//*
//* PSBGEN FOR THE FAST PATH SAMPLE APPLICATION
//*
//*
//DBFSAMP4 EXEC PROC=PSBGEN,MBR=DBFSAMP4,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DBFSAMP4)
//*
//* PSBGEN FOR THE FAST PATH SAMPLE APPLICATION
//*
//DBFSAMP5 EXEC PROC=PSBGEN,MBR=DBFSAMP5,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DBFSAMP5)
//*
//* PSBGEN FOR THE FAST PATH SAMPLE APPLICATION
//*
//DBFSAMP6 EXEC PROC=PSBGEN,MBR=DBFSAMP6,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DBFSAMP6)
//*
//*
//* PSBGEN FOR THE IVP BMP/DLI/DBB PROGRAM - HIDAM/OSAM DATA BASE
//*
//* ASSEMBLER
//DFSIVP6  EXEC PROC=PSBGEN,MBR=DFSIVP6,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP6)
//* PASCAL
//DFSIVP61 EXEC PROC=PSBGEN,MBR=DFSIVP61,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP61)
//* C
//DFSIVP62 EXEC PROC=PSBGEN,MBR=DFSIVP62,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP62)
//* COBOL
//DFSIVP64 EXEC PROC=PSBGEN,MBR=DFSIVP64,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP64)
//* REXX
//DFSIVP65 EXEC PROC=PSBGEN,MBR=DFSIVP65,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP65)
//*
//* PSBGEN FOR THE IVP BMP/DLI/DBB PROGRAM - HDAM/VSAM DATA BASE
//*
//DFSIVP7  EXEC PROC=PSBGEN,MBR=DFSIVP7,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP7)
//*
//* PSBGEN FOR THE IVP ONLINE IMAGE COPY - HIDAM/OSAM DATA BASE
//*
//DFSIVP9  EXEC PROC=PSBGEN,MBR=DFSIVP9,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP9)
//*
//* PSBGEN FOR IVP DATA BASE LOAD - HIDAM/OSAM DATA BASE
//*
//DFSIVPA  EXEC PROC=PSBGEN,MBR=DFSIVPA,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVPA)
//*
//* PSBGEN FOR IVP DATA BASE LOAD - HDAM/VSAM DATA BASE
//*
//DFSIVPB  EXEC PROC=PSBGEN,MBR=DFSIVPB,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVPB)
//*
//* PSBGEN FOR IVP DATA BASE LOAD - HDAM/VSAM DATA BASE
//* DRD sample
//DFSIVPDL EXEC PROC=PSBGEN,MBR=DFSIVPDL,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVPDL)
//*
//* PSBGEN FOR THE CICS IVP - DFHSAM04
//*
//DFSIVPC1 EXEC PROC=PSBGEN,MBR=DFHSAM04,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVPC1)
//*
//* PSBGEN FOR THE CICS IVP - DFHSAM05
//*
//DFSIVPC2 EXEC PROC=PSBGEN,MBR=DFHSAM05,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVPC2)
//*
//* PSBGEN FOR THE CICS IVP - DFHSAM14
//*
//DFSIVPC3 EXEC PROC=PSBGEN,MBR=DFHSAM14,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVPC3)
//*
//* PSBGEN FOR THE CICS IVP - DFHSAM24
//*
//DFSIVPC4 EXEC PROC=PSBGEN,MBR=DFHSAM24,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVPC4)
//*
//* PSBGEN FOR THE CICS IVP - DFHSAM15
//*
//DFSIVPC5 EXEC PROC=PSBGEN,MBR=DFHSAM15,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVPC5)
//*
//* PSBGEN FOR THE CICS IVP - DFHSAM25
//*
//DFSIVPC6 EXEC PROC=PSBGEN,MBR=DFHSAM25,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVPC6)
//*
//* PSBGEN FOR THE IMS SAMPLE APPLICATION
//*
//DFSSAM11 EXEC PROC=PSBGEN,MBR=DFSSAM01,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSSAM11)
//*
//* PSBGEN FOR THE IMS SAMPLE APPLICATION
//*
//DFSSAM12 EXEC PROC=PSBGEN,MBR=DFSSAM02,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSSAM12)
//*
//* PSBGEN FOR THE IMS SAMPLE APPLICATION
//*
//DFSSAM13 EXEC PROC=PSBGEN,MBR=DFSSAM03,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSSAM13)
//*
//* PSBGEN FOR THE IMS SAMPLE APPLICATION
//*
//DFSSAM14 EXEC PROC=PSBGEN,MBR=DFSSAM04,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSSAM14)
//*
//* PSBGEN FOR THE IMS SAMPLE APPLICATION
//*
//DFSSAM15 EXEC PROC=PSBGEN,MBR=DFSSAM05,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSSAM15)
//*
//* PSBGEN FOR THE IMS SAMPLE APPLICATION
//*
//DFSSAM16 EXEC PROC=PSBGEN,MBR=DFSSAM06,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSSAM16)
//*
//* PSBGEN FOR THE IMS SAMPLE APPLICATION
//*
//DFSSAM17 EXEC PROC=PSBGEN,MBR=DFSSAM07,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSSAM17)
//*
//* PSBGEN FOR THE IMS SAMPLE APPLICATION
//*
//DFSSAM18 EXEC PROC=PSBGEN,MBR=DFSSAM08,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSSAM18)
//*
//* PSBGEN FOR THE IMS SAMPLE APPLICATION
//*
//DFSSAM19 EXEC PROC=PSBGEN,MBR=DFSSAM09,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSSAM19)
//*
//* PSBGEN FOR THE IVP BMP/DLI/DBB PROGRAM - HDAM/VSAM DATA BASE
//* DRD sample
//DFSIVPD3 EXEC PROC=PSBGEN,MBR=DFSIVPD3,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVPD3)
//*
//* PSBGEN FOR THE IVP BMP PROGRAM - DEDB DATA BASE
//*
//DFSIVP8  EXEC PROC=PSBGEN,MBR=DFSIVP8,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP8)
//*
//* PSBGEN FOR IVP DATA BASE LOAD - DEDB DATA BASE
//*
//DFSIVPC  EXEC PROC=PSBGEN,MBR=DFSIVPC,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVPC)
//*
//*
//* PSBGEN FOR THE IVP CONVERSATIONAL TP PROGRAM - HDAM/OSAM DATA BASE
//* JAVA
//DFSIVP37 EXEC PROC=PSBGEN,MBR=DFSIVP37,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP37)
//* JAVA
//DFSIVP67 EXEC PROC=PSBGEN,MBR=DFSIVP67,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVP67)
//*
//* PSBGEN FOR THE IVP JAVA SAMPLE AUTO DEALER APPLICATIONS
//*
//DFSAUTAL EXEC PROC=PSBGEN,MBR=AUTPSBAL,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSAUTAL)
//*
//DFSAUTEL EXEC PROC=PSBGEN,MBR=AUTPSBEL,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSAUTEL)
//*
//DFSAUT11 EXEC PROC=PSBGEN,MBR=AUTPSB11,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSAUT11)
//*
//* PSBGEN FOR THE PURCHASE ORDER SAMPLE - XQUERY APPLICATIONS
//*
//DFSIVPO1 EXEC PROC=PSBGEN,MBR=IPOPSB,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVPO1)
//*
//DFSIVPO2 EXEC PROC=PSBGEN,MBR=IPOPSBL,SOUT='*'
//C.SYSIN  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ1}}.{{ DFS_AUTH_LIB_SYSHLQ2 }}.SDFSISRC(DFSIVPO2)
//*