---
# tasks file for db2_delete_app_instance

- name: Delete an instance of the application
  uri:
    url: "{{ base_url }}/instances/{{inst_name}}/"
    validate_certs: no
    user: "{{ username }}"
    password: "{{ password }}"
    method: DELETE
    headers:
        Authorization: "Bearer {{ACCESS_TOKEN}}"
    status_code: 200
