//APOPUTIL JOB 'testing',
//  NOTIFY=OMVSADM,
//  USER=OMVSADM,
//  MSGCLASS=E,
//  MSGLEVEL=(1,1),
//  CLASS=K
//********************************************************
//* FUCNTION: Populate Utility
//********************************************************
//LOADCAT EXEC PGM=DFS3PU00,REGION=0M,
// PARM=(DLI,DFS3PU00,DFSCPL00,,,,,,,,,,,Y,N,,,,,,,,,,,,'DFSDF=000')
//STEPLIB  DD  DSN=IMSTESTL.IMS1.SDFSRESL,DISP=SHR
//DFSRESLB DD  DSN=IMSTESTL.IMS1.SDFSRESL,DISP=SHR
//IMS      DD  DSN=IMSTESTL.IMS1.PSBLIB,DISP=SHR
//         DD  DSN=IMSTESTL.IMS1.DBDLIB,DISP=SHR
//PROCLIB  DD  DSN=IMSTESTL.IMS1.PROCLIB,DISP=SHR
//DFSVSAMP DD  DSN=IMSTESTL.IMS1.PROCLIB(DFSVSMHP),DISP=SHR
//RECON1   DD  DSN=IMSTESTL.IMS1.RECON1,DISP=SHR
//RECON2   DD  DSN=IMSTESTL.IMS1.RECON2,DISP=SHR
//RECON3   DD  DSN=IMSTESTL.IMS1.RECON3,DISP=SHR
//IMSACB01 DD  DSN=IMSTESTL.IMS1.ACBLIB,DISP=SHR
//IEFRDER  DD DSN=IMSTESTL.IMS1.IMSLOG1,DISP=(NEW,DELETE),
//            DCB=(RECFM=VB,LRECL=4092,BLKSIZE=4096,BUFNO=5),
//            SPACE=(CYL,(100,75)),UNIT=SYSDA
//IEFRDER2 DD DSN=IMSTESTL.IMS1.IMSLOG2,DISP=(NEW,DELETE),
//            DCB=(RECFM=VB,LRECL=4092,BLKSIZE=4096,BUFNO=5),
//            SPACE=(CYL,(100,75)),UNIT=SYSDA
//SYSINP   DD  *
MANAGEDACBS=SETUP ISRTLIST
//SYSABEND DD  SYSOUT=*
//SYSPRINT DD  SYSOUT=*
//