//IMGCOPY JOB 'testing',
//  NOTIFY=OMVSADM,
//  USER=OMVSADM,
//  MSGCLASS=E,
//  MSGLEVEL=(1,1),
//  CLASS=K
//********************************************************
//* FUNCTION: Image Copy
//********************************************************
//IC  EXEC PGM=DFSUDMP0,PARM='DBRC=Y'
//STEPLIB   DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.SDFSRESL,DISP=SHR
//RECON1    DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.RECON1,DISP=SHR
//RECON2    DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.RECON2,DISP=SHR
//RECON3    DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.RECON3,DISP=SHR
//IMS       DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.DBDLIB,DISP=SHR
//{{item.ddn}}  DD DSN={{item.dsn}},DISP=SHR
//D1OU1     DD DSN={{item.icdsn}},
//             DISP=(NEW,KEEP),UNIT={{DFS_IMS_UNIT}},SPACE=(CYL,(1,1)),
//             VOL=SER={{ DFS_DS_VOLUME1 }},LABEL=(,SL)
//SYSPRINT  DD SYSOUT=*
//SYSUDUMP  DD SYSOUT=*
//SYSIN     DD *
D1 {{item.dataset}} {{item.ddn}} D1OU1
/*
//  