{# Copyright (c) IBM Corporation 2020 #}
################################################################################
# Playbook enviroment variables
################################################################################
{% if python_interpreter | is_ibm_python or python_interpreter | is_rocket_python %}
{% if zoau_root is defined %}
environment_vars:
  _BPXK_AUTOCVT: "ON"
  ZOAU_HOME: "{{ zoau_root }}"
{% if not is_110 %}
  PYTHONPATH: "{{ zoau_root }}/lib"
{% endif %}
  LIBPATH: "{{ zoau_root }}/lib:{{ python_root }}/lib:/lib:/usr/lib:."
  PATH: "{{ zoau_root }}/bin:{{ python_root }}/bin:/bin:/usr/sbin:/var/bin"
  _CEE_RUNOPTS: "FILETAG(AUTOCVT,AUTOTAG) POSIX(ON)"
  _TAG_REDIR_ERR: "txt"
  _TAG_REDIR_IN: "txt"
  _TAG_REDIR_OUT: "txt"
  LANG: "C"
  PYTHONSTDINENCODING: "cp1047"
{% else %}
environment_vars:
  _BPXK_AUTOCVT: "ON"
  LIBPATH: "{{ python_root }}/lib:/lib:/usr/lib:."
  PATH: "{{ python_root }}/bin:/bin:/usr/sbin:/var/bin"
  _CEE_RUNOPTS: "FILETAG(AUTOCVT,AUTOTAG) POSIX(ON)"
  _TAG_REDIR_ERR: "txt"
  _TAG_REDIR_IN: "txt"
  _TAG_REDIR_OUT: "txt"
  LANG: "C"
  PYTHONSTDINENCODING: "cp1047"
{% endif %}
{% else %}
{% if zoau_root is defined %}
environment_vars:
  ZOAU_ROOT: "{{ zoau_root }}"
  ZOAU_HOME: "{{ zoau_root }}"
  PYTHONPATH: "{{ zoau_root }}/lib:{{ python_root }}:/lib:/usr/lib"
  _BPXK_AUTOCVT: "ON"
  PATH: "{{ zoau_root }}/bin:/bin:/usr/sbin:/var/bin:{{ python_root }}/bin"
  LIBPATH: "{{ zoau_root }}/lib:{{ python_root }}/lib:/lib:/usr/lib:."
{% else %}
environment_vars:
  PYTHONPATH: "{{ python_root }}:/lib:/usr/lib"
  _BPXK_AUTOCVT: "ON"
  PATH: "/bin:/usr/sbin:/var/bin:{{ python_root }}/bin"
  LIBPATH: "{{ python_root }}/lib:/lib:/usr/lib:."
{% endif %}
{% endif %}
