//******************************************************************
//*  IMSDALOC Procedure
//*
//*  This procedure generates the list of databases,
//*  DEDB data areas, and data ses that are to be
//*  dynamically allocated.
//*
//*  The high-level qualifier of the IMS data sets is IMS.
//*  If your installation does not use this default value,
//*  then you will need to modify the high-level qualifier.
//*
//*  The default name of the MACLIB data set is SYS1.MACLIB.
//*  If your installation overrides this default value
//*  in the MACSYS parameter of the sysgen IMSGEN macro,
//*  then you should set the MACSYS parameter of this procedure.
//*
//***********************************************************@SCPYRT**
//*
//*  Licensed Materials - Property of IBM
//*
//*  5635-A06
//*
//*      Copyright IBM Corp. 2016      All Rights Reserved
//*
//*  US Government Users Restricted Rights - Use, duplication or
//*  disclosure restricted by GSA ADP Schedule contract with
//*  IBM Corp.
//*
//***********************************************************@ECPYRT**
//*
//       PROC SOUT=A,SYS2=,
//            MACSYS='SYS1.MACLIB'
//ASSEM  EXEC PGM=ASMA90,
//            PARM='ALIGN,DECK,NOOBJECT,NODBCS'
//SYSLIB   DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.SDFSMAC,DISP=SHR
//         DD DSN=&MACSYS.,DISP=SHR
//SYSUT1   DD UNIT=SYSDA,SPACE=(CYL,(10,5))
//SYSPUNCH DD DSN=&OBJMOD,
//         DCB=(RECFM=FB,LRECL=80,BLKSIZE=400),
//         SPACE=(400,(100,100)),UNIT=SYSDA,
//         DISP=(NEW,PASS)
//SYSPRINT DD SYSOUT=&SOUT
//BLDMBR EXEC PGM=IEBUPDTE,PARM='NEW',
//            COND=(7,LT,ASSEM)
//SYSPRINT DD DUMMY
//SYSUT2   DD DSN=&TEMPPDS,UNIT=SYSDA,
//         DISP=(NEW,PASS,DELETE),
//         SPACE=(80,(1000,500,10)),
//         DCB=(RECFM=F,BLKSIZE=80)
//SYSIN    DD DSN=*.ASSEM.SYSPUNCH,
//         DISP=(OLD,DELETE,DELETE)
//LNKEDT EXEC PGM=IEWL,PARM='LIST,XREF,LET',
//            COND=((7,LT,ASSEM),(3,LT,BLDMBR))
//SYSUT1   DD UNIT=SYSDA,SPACE=(1024,(100,50))
//SYSLIB   DD DUMMY
//SYSPRINT DD SYSOUT=&SOUT
//SYSLMOD  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.SDFSRESL,DISP=SHR
//OBJMOD   DD DSN=&TEMPPDS,DISP=(OLD,DELETE,DELETE)
//SYSLIN   DD DSN=&TEMPPDS(LNKCTL),
//         DISP=(OLD,DELETE,DELETE),
//         VOL=REF=*.OBJMOD
