//*********************************************************************
//*  MFSBTCH1 Procedure
//*
//*  This procedure executes the MFS Language Utility (DFSUPAA0)
//*  Maintenance Utility, which creates and stores the Message
//*  Format Service (MFS) control blocks.
//*
//*  This procedure executes in batch mode.
//*
//*  The high-level qualifier of the IMS data sets is IMS.
//*  If your installation does not use this default value,
//*  then set the NODEx parameters, which correspond
//*  to the names specified in the IMSGEN macro.
//*
//************************************************************@SCPYRT**
//*                                                                   *
//*  Licensed Materials - Property of IBM                             *
//*                                                                   *
//*  5635-A06                                                         *
//*                                                                   *
//*      Copyright IBM Corp. 1974,2016 All Rights Reserved            *
//*                                                                   *
//*  US Government Users Restricted Rights - Use, duplication or      *
//*  disclosure restricted by GSA ADP Schedule contract with          *
//*  IBM Corp.                                                        *
//*                                                                   *
//************************************************************@ECPYRT**
//*
//         PROC RGN=4M,SOUT=A,SYS2=,
//            SNODE='{{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}',
//            SOR=NOLIB,MBR=NOMBR,PXREF=NOXREF,
//            PCOMP=NOCOMP,PSUBS=NOSUBS,PDIAG=NODIAG,
//            COMPR=NOCOMPRESS,LN=55,SN=8,DEVCHAR=0
//*
//S1       EXEC PGM=DFSUPAA0,REGION=&RGN,
//            PARM=(&PXREF,&PCOMP,&PSUBS,&PDIAG,
//            &COMPR,'LINECNT=&LN,STOPRC=&SN',
//            'DEVCHAR=&DEVCHAR')
//STEPLIB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.SDFSRESL,DISP=SHR
//*SYSLIB - USER OPTION
//SYSIN    DD DISP=SHR,
//         DSN=&SNODE..&SOR.(&MBR)
//REFIN    DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.REFERAL,DISP=OLD
//REFOUT   DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.REFERAL,DISP=OLD
//REFRD    DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.REFERAL,DISP=OLD
//SYSTEXT  DD DSN=&&TXTPASS,UNIT=SYSDA,
//         SPACE=(CYL,(1,1)),DCB=BLKSIZE=800
//SYSUT3   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT4   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//DUMMY    DD DISP=SHR,
//         DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.PROCLIB(REFCPY)
//UTPRINT  DD SYSOUT=&SOUT
//SYSPRINT DD SYSOUT=&SOUT,
//         DCB=(RECFM=FBA,LRECL=133,BLKSIZE=1330)
//SYSUDUMP DD SYSOUT=&SOUT
//SEQBLKS  DD DISP=(MOD,KEEP),
//         DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.MFSBATCH
