//******************************************************************
//*  MFSRVC Procedure
//*
//*  This procedure invokes the MFS Service utility (DFSUTSA0)
//*  to control and maintain MFS intermediate text blocks
//*  and control blocks after they have been processed and
//*  stored by the MFS Language utility (DFSUPAA0).
//*
//*  The high-level qualifier of the IMS data sets is IMS.
//*  If your installation does not use this default value,
//*  then set the NODEx parameters, which correspond
//*  to the names specified in the IMSGEN macro.
//*
//***********************************************************@SCPYRT**
//*
//*  Licensed Materials - Property of IBM
//*
//*  5635-A06
//*
//*      Copyright IBM Corp. 2016      All Rights Reserved
//*
//*  US Government Users Restricted Rights - Use, duplication or
//*  disclosure restricted by GSA ADP Schedule contract with
//*  IBM Corp.
//*
//***********************************************************@ECPYRT**
//*
//        PROC DEVCHAR=0,SYS2=,SOUT=A
//*
//MFSRVC  EXEC PGM=DFSUTSA0,REGION=4M,PARM='DEVCHAR=&DEVCHAR'
//STEPLIB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.SDFSRESL,DISP=SHR
//*
//*        PRINT FILES
//*
//SYSPRINT DD SYSOUT=&SOUT
//*           DCB=(RECFM=VBA,LRECL=137)
//SYSSNAP  DD SYSOUT=&SOUT
//*           DCB=(RECFM=VBA,LRECL=125,BLKSIZE=1632)
//SYSUDUMP DD SYSOUT=&SOUT
//*
//*        REFERAL LIBRARY
//*
//REFIN    DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.REFERAL,DISP=OLD
//*
//*        ON-LINE FORMAT LIBRARY
//*
//FORMAT   DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.FORMAT,DISP=SHR
//*
//*
//*         //SYSIN DD * MUST BE SUPPLIED BY
//*         USER WITH INPUT CONTROL CARD STREAM
//*
//*         ALL DISP=OLD SPECIFICATIONS OF THIS
//*         PROCEDURE ARE REQUIRED .......
//*
//*
