**********************************************************************
*       DFSPBDCC
*
*       Sample DFSPBDCC member of the IMS PROCLIB data set.
*
*       Use the DFSPBDCC member to specify execution parameters
*       for the DCCTL control region.
*
*************************************************************@SCPYRT**
*
*    Licensed Materials - Property of IBM
*
*    5635-A06
*
*        Copyright IBM Corp. 2016      All Rights Reserved
*
*    US Government Users Restricted Rights - Use, duplication or
*    disclosure restricted by GSA ADP Schedule contract with
*    IBM Corp.
*
*************************************************************@ECPYRT**
ARC={{ARC}},
AUTO=
