//******************************************************************
//*  IMSCOBGO Procedure
//*
//*  This procedure is a three-step compile, bind, and go
//*  procedure combining the IMSCOBOL procedure with
//*  an execution step for a stand-alone DL/I batch
//*  address space.
//*
//*  The high-level qualifier of the IMS data sets is IMS.
//*  If your installation does not use this default value,
//*  then set the NODEx parameters, which correspond
//*  to the names specified in the IMSGEN macro.
//*
//************* C O N D I T I O N A L   C H A N G E ******************
//*  IMPORTANT: This procedure needs to be modified if
//*  any of the following are true:
//*  - Dual DD statements are required for the system log
//*  Look for the 'Conditional Change' comment lines.
//************* E N D   C O N D I T I O N A L   C H A N G E **********
//*
//***********************************************************@SCPYRT**
//*
//*  Licensed Materials - Property of IBM
//*
//*  5635-A06
//*
//*      Copyright IBM Corp. 2016      All Rights Reserved
//*
//*  US Government Users Restricted Rights - Use, duplication or
//*  disclosure restricted by GSA ADP Schedule contract with
//*  IBM Corp.
//*
//***********************************************************@ECPYRT**
//*
//       PROC MBR=TEMPNAME,PAGES=60,SYS2=,
//            LNGPRFX=IGY,
//            LIBPRFX=CEE,
//            SOUT=A,RGN=4M,LOGT=2400,
//            PSB=,BUF=7,SPIE=0,TEST=0,EXCPVR=0,
//            RST=0,PRLD=,SRCH=0,CKPTID=,MON=N,
//            LOGA=0,FMTO=T,IMSID={{ DFS_IMS_SSID }},SWAP=,DBRC=,IRLM=,
//            IRLMNM=,BKO=N,IOB=,SSM=,APARM=,
//            LOCKMAX=,IMSPLEX={{DFS_IMSPlex}}
//*
//C      EXEC PGM=IGYCRCTL,REGION=4M,
//        PARM='SIZE(832K),BUF(10K),LINECOUNT(50)'
//STEPLIB  DD DSN=&LNGPRFX..SIGYCOMP,
//         DISP=SHR
//SYSLIN   DD DSN=&&LIN,DISP=(MOD,PASS),UNIT=SYSDA,
//         DCB=({{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.PROCLIB),
//         SPACE=(3520,(40,10),RLSE,,ROUND)
//SYSPRINT DD SYSOUT=&SOUT,
//         DCB=(LRECL=121,BLKSIZE=605,RECFM=FBA),
//         SPACE=(605,(&PAGES.0,&PAGES),RLSE,,ROUND)
//SYSUT1   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT2   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT3   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT4   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT5   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT6   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT7   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//L      EXEC PGM=IEWL,REGION=4M,
//            PARM='XREF,LET,LIST',
//            COND=(8,LT,C)
//SYSLIB   DD DSN=&LIBPRFX..SCEELKED,
//         DISP=SHR
//SDFSRESL DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.SDFSRESL,DISP=SHR
//SYSLIN   DD DSN=&&LIN,DISP=(OLD,DELETE),
//         VOL=REF=*.C.SYSLIN
//         DD DISP=SHR,
//         DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.PROCLIB(CBLTDLI)
//         DD DDNAME=SYSIN
//SYSLMOD  DD DISP=SHR,
//         DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.PGMLIB(&MBR)
//SYSPRINT DD SYSOUT=&SOUT,
//         DCB=(RECFM=FBA,LRECL=121,BLKSIZE=605),
//         SPACE=(605,(&PAGES.0,&PAGES),RLSE,,ROUND)
//SYSUT1   DD UNIT=(SYSDA,SEP=(SYSLMOD,SYSLIN)),
//         DISP=(,DELETE),
//         SPACE=(3520,(100,10),RLSE,,ROUND)
//G      EXEC PGM=DFSRRC00,REGION=&RGN,TIME=2,
//            COND=((8,LT,C),(4,LT,L)),
//            PARM=(DLI,&MBR,&PSB,&BUF,
//            &SPIE&TEST&EXCPVR&RST,
//            &PRLD,&SRCH,&CKPTID,&MON,&LOGA,
//            &FMTO,&IMSID,&SWAP,
//            &DBRC,&IRLM,&IRLMNM,&BKO,&IOB
//            &SSM,'&APARM',&LOCKMAX,,,&IMSPLEX)
//STEPLIB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.SDFSRESL,DISP=SHR
//         DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.PGMLIB,DISP=SHR
//         DD DSN=&LIBPRFX..SCEERUN,DISP=SHR
//SDFSRESL DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.SDFSRESL,DISP=SHR
//IMS      DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.PSBLIB,DISP=SHR
//         DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.DBDLIB,DISP=SHR
//PROCLIB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.PROCLIB,DISP=SHR
//IEFRDER  DD DSN=IMSLOG,DISP=(,KEEP),VOL=(,,,99),
//         UNIT=(&LOGT,,DEFER),
//         DCB=(RECFM=VB,BLKSIZE=4096,
//         LRECL=4092,BUFNO=2)
//************* C O N D I T I O N A L   C H A N G E ******************
//* IF DUAL DD STATEMENTS ARE REQUIRED FOR THE SYSTEM LOG,
//* THEN UN-COMMENT THE FOLLOWING IEFRDER2 STATEMENT:
//*IEFRDER2 DD DSN=IMSLOG2,DISP=(,KEEP),VOL=(,,,99),
//*         UNIT=(&LOGT,,DEFER,SEP=IEFRDER),
//*         DCB=(RECFM=VB,BLKSIZE=4096,
//*         LRECL=4092,BUFNO=2)
//************* E N D   C O N D I T I O N A L   C H A N G E **********
//SYSOUT   DD SYSOUT=&SOUT,SPACE=(CYL,(1,1)),
//         DCB=(LRECL=133,RECFM=FBA,BLKSIZE=665)
//SYSUDUMP DD SYSOUT=&SOUT,
//         DCB=(LRECL=121,RECFM=FBA,BLKSIZE=3025),
//         SPACE=(3025,(200,100),RLSE,,ROUND)
//CEEDUMP  DD SYSOUT=&SOUT,
//         DCB=(LRECL=121,RECFM=FBA,BLKSIZE=3025),
//         SPACE=(3025,(200,100),RLSE,,ROUND)
