//*********************************************************************
//*  MFSBTCH2 Procedure
//*
//*  This procedure executes the MFS Language Utility (DFSUPAA0)
//*  Maintenance Utility, which creates and stores the Message
//*  Format Service (MFS) control blocks.
//*
//*  This procedure executes in batch mode.
//*
//*  The high-level qualifier of the IMS data sets is IMS.
//*  If your installation does not use this default value,
//*  then set the NODEx parameters, which correspond
//*  to the names specified in the IMSGEN macro.
//*
//************************************************************@SCPYRT**
//*                                                                   *
//*  Licensed Materials - Property of IBM                             *
//*                                                                   *
//*  5635-A06                                                         *
//*                                                                   *
//*      Copyright IBM Corp. 1974,2016 All Rights Reserved            *
//*                                                                   *
//*  US Government Users Restricted Rights - Use, duplication or      *
//*  disclosure restricted by GSA ADP Schedule contract with          *
//*  IBM Corp.                                                        *
//*                                                                   *
//************************************************************@ECPYRT**
//*
//         PROC RGN=4M,SOUT=A,COMPR2=COMPRESS,
//            COMPR3=NOCOMPREND,DIRUPDT=UPDATE,SYS2=
//*
//S2       EXEC PGM=DFSUNUB0,REGION=&RGN,
//            PARM='&COMPR2,&COMPR3,&DIRUPDT'
//STEPLIB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.SDFSRESL,DISP=SHR
//SEQBLKS  DD DISP=(OLD,KEEP),
//         DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.MFSBATCH
//UTPRINT  DD SYSOUT=&SOUT,
//         DCB=(RECFM=FBA,LRECL=133,BLKSIZE=1330)
//SYSUDUMP DD SYSOUT=&SOUT
//FORMAT   DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.FORMAT,DISP=SHR
//DUMMY    DD DISP=SHR,
//         DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.PROCLIB(FMTCPY)
//SYSPRINT DD SYSOUT=&SOUT
//SYSUT3   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT4   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
