//******************************************************************
//*  MFSREST Procedure
//*
//*  This procedure performs utility restore operations.
//*
//*  The high-level qualifier used for the data set
//*  containing MFS input is IMS.
//*  If your installation does not use this default value,
//*  then set the NODE parameter.
//*
//************* C O N D I T I O N A L   C H A N G E ******************
//*  IMPORTANT: This procedure needs to be modified if
//*  any of the following are true:
//*  - MFSTEST is included
//*  Look for the 'Conditional Change' comment lines.
//************* E N D   C O N D I T I O N A L   C H A N G E **********
//*
//***********************************************************@SCPYRT**
//*
//*  Licensed Materials - Property of IBM
//*
//*  5635-A06
//*
//*      Copyright IBM Corp. 2016      All Rights Reserved
//*
//*  US Government Users Restricted Rights - Use, duplication or
//*  disclosure restricted by GSA ADP Schedule contract with
//*  IBM Corp.
//*
//***********************************************************@ECPYRT**
//*
//       PROC  NODE='{{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}',
//             TAPE=MFSDBS,SOUT=A,DSN=FORMAT,SYS2=
//*
//****************************************************
//*                                                  *
//*  PROCEDURE KEYWORDS FOR // EXEC STATEMENT:       *
//*                                                  *
//*    NODE=   PREFIX LEVEL TO BE USED FOR           *
//*            ACCESS TO IMS MFS LIBRARIES.          *
//*                                                  *
//*    SYS2=   SECOND PREFIX LEVEL TO BE USED FOR    *
//*            ACCESS TO IMS MFS LIBRARIES.          *
//*                                                  *
//*    TAPE=   RESTORE TAPE SERIAL NUMBER.           *
//*                                                  *
//*    SOUT=   SPECIFIES THE PRINT OUTPUT CLASS      *
//*            TO BE USED FOR PRINTED OUTPUT         *
//*            DURING THE RESTORE OPERATION.         *
//*                                                  *
//****************************************************
//*
//MOVE1  EXEC PGM=IEBCOPY,PARM='SIZE=100K'
//SYSPRINT DD SYSOUT=&SOUT
//SYSUT3   DD SPACE=(CYL,(1,1)),UNIT=SYSDA
//REFERAL  DD DSN=&NODE..&SYS2.REFERAL,DISP=OLD
//TAPEIN   DD UNIT=2400,LABEL=(1,SL),DISP=(OLD,KEEP),
//            VOL=(,RETAIN,SER=&TAPE),
//            DSN=&NODE..&SYS2.REFERAL,
//            DCB=(RECFM=FB,LRECL=80,BLKSIZE=800)
//*
//****************************************************
//*                                                  *
//*  //MOVE1.SYSIN  DD  *  MUST BE SUPPLIED BY THE   *
//*  USER WITH THE APPROPRIATE COPY CONTROL          *
//*  STATEMENT AS SHOWN BELOW:                       *
//*                                                  *
//*   COPY OUTDD=REFERAL,INDD=TAPEIN                 *
//*                                                  *
//****************************************************
//*
//MOVE2  EXEC PGM=IEBCOPY,PARM='SIZE=100K'
//SYSPRINT DD SYSOUT=&SOUT
//SYSUT3   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//FORMAT   DD DSN=&NODE..&SYS2.&DSN,DISP=OLD
//TAPEIN   DD UNIT=2400,LABEL=(2,SL),
//            VOL=(,RETAIN,REF=*.MOVE1.TAPEIN),
//            DSN=&NODE..&SYS2.&DSN,
//            DCB=(RECFM=FB,LRECL=80,BLKSIZE=800),
//            DISP=(OLD,KEEP)
//*
//****************************************************
//*  //MOVE2.SYSIN  DD  *  MUST BE SUPPLIED WITH     *
//*  THE APPROPRIATE COPY CONTROL STATEMENT          *
//*  AS SHOWN BELOW:                                 *
//*                                                  *
//*    COPY OUTDD=FORMAT,INDD=TAPEIN                 *
//*                                                  *
//****************************************************
//*
//************* C O N D I T I O N A L   C H A N G E ******************
//* IF MFSTEST IS ENABLED, THEN UN-COMMENT THE FOLLOWING LINES:
//*MOVE3  EXEC PGM=IEBCOPY,PARM='SIZE=100K'
//*SYSPRINT DD SYSOUT=&SOUT
//*SYSUT3   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//*FORMAT   DD DSN=&NODE..&SYS2.TFORMAT,DISP=SHR
//*TAPEIN   DD UNIT=2400,LABEL=(3,SL),
//*            VOL=REF=*.MOVE1.TAPEIN,
//*            DSN=&NODE..&SYS2.TFORMAT,
//*            DCB=(RECFM=FB,LRECL=80,BLKSIZE=800),
//*            DISP=(OLD,KEEP)
//************* E N D   C O N D I T I O N A L   C H A N G E **********
//*
//****************************************************
//*  //MOVE3.SYSIN  DD  *  MUST BE SUPPLIED WITH     *
//*  THE APPROPRIATE COPY CONTROL STATEMENT          *
//*  AS SHOWN BELOW:                                 *
//*                                                  *
//*   COPY OUTDD=FORMAT,INDD=TAPEIN                  *
//*                                                  *
//****************************************************
//*
