*--------------------------------------------------------------------*
* COMMON SERVICE LAYER SECTION                                       *
*--------------------------------------------------------------------*
<SECTION=COMMON_SERVICE_LAYER>

CMDSEC=N                         /* NO CMD AUTHORIZATION CHECKING   */
IMSPLEX={{ DFS_IMSPlex }}        /* IMSPLEX NAME                    */
MODBLKS=DYN                      /* DRD ENABLED;MODBLKS OLC DISABLE */
*
*--------------------------------------------------------------------*
* DYNAMIC RESOURCES SECTION                                          *
*--------------------------------------------------------------------*
<SECTION=DYNAMIC_RESOURCES>

AUTOEXPORT=AUTO,                 /* AUTO EXPORT RESOURCES TO RDDS   */
AUTOIMPORT=AUTO,                 /* AUTO IMPORT RESOURCES FR RDDS   */
RDDSDSN=(
  {{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.RDDS1,
  {{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.RDDS2,
  {{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.RDDS3)
*--------------------------------------------------------------------*
* LOGGER SECTION                                                 *
*--------------------------------------------------------------------*
<SECTION=LOGGER>
OLDSDEF=(OLDS=(00,01,02,03,04,05,99),BUFNO=005,MODE=DUAL)
WADSDEF=(WADS=(0,1,8,9))
ARC={{ARC}}
*
*--------------------------------------------------------------------*
* CATALOG SECTION                               *
*--------------------------------------------------------------------*
<SECTION=CATALOG>
CATALOG=N
ALIAS=DFSC
RETENTION=(DAYS=40,VERSIONS=55)
ACBMGMT=ACBLIB
ACCESS=READ
IXVOLSER={{ DFS_DS_VOLUME1 }}
{% if not CATALOG_DBRC_ENABLED %}
*
*-----------------------------------------------------------------*
* Database Section                                                *
*-----------------------------------------------------------------*
<SECTION=DATABASE>
UNREGCATLG=(DFSCX000,DFSCD000) /*Unregistered IMS catalog DB names*/
*
{% endif %}
*--------------------------------------------------------------------*
* END OF MEMBER DFSDF000                                             *
*--------------------------------------------------------------------*
