# Global options
option domain-name "{{ cluster_name }}.{{ base_domain }}";
option domain-name-servers {{ dns_forwarder }};

default-lease-time 600;
max-lease-time 7200;

ddns-update-style interim;
ignore client-updates;
allow booting;
allow bootp;
log-facility local7;

# Subnet configuration
subnet {{ subnet }} netmask {{ subnet_mask }} {    
    # Default gateway
    option routers {{ dns_forwarder }};
    option subnet-mask {{ subnet_mask }};
    option time-offset -18000;                             

    # DNS servers
    option domain-name-servers {{ dns_forwarder }};
}

# Static IP assignments
{% for host, info in static_hosts.items() %}
host {{ host }} {
    hardware ethernet {{ info.mac }};
    fixed-address {{ info.ip }};
}
{% endfor %}
