---
# Authorized Program Facility Services
- name: Authorized Program Facility Services
  collections:
    - ibm.ibm_zos_core
    - ibm.ibm_zos_ims
  block:

    - block:
        - set_fact:
            eager_role_path: '{{role_path}}'
# ------------------------------------------------------------------------------------------------------------------ DFSSETPG
    - name: Authorize IMS datasets
      zos_apf:
        force_dynamic: true
        batch:
          - library: '{{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.SDFSRESL'
            volume: '{{ DFS_DS_VOLUME1 }}'
            sms: false
          - library: '{{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.MODBLKS'
            volume: '{{ DFS_DS_VOLUME1 }}'
            sms: false
          - library: '{{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.MODBLKSA'
            volume: '{{ DFS_DS_VOLUME1 }}'
            sms: false
          - library: '{{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.MODBLKSB'
            volume: '{{ DFS_DS_VOLUME1 }}'
            sms: false
          - library: '{{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.EXITLIB'
            volume: '{{ DFS_DS_VOLUME1 }}'
            sms: false
      register: apf_output
      failed_when: # Ignore the error msg "already present in APF" because if this playbook
        - apf_output.rc > 0
        - '"already present in APF" not in apf_output.stderr'

      when: auth_datasets
# ------------------------------------------------------------------------------------------------------------------
