# Pip requirements file for installation of the project.
#
# The order of packages is significant, because pip processes them in the order
# of appearance.
#
# Make sure that the minimum versions required in this file are consistent with
# the minimum versions specified in minimum-constraints.txt.


# Direct dependencies (except pip, setuptools, wheel):

# Keep minimum ansible versions in sync with minimum-constraints.txt and lowest ansible version in sync with meta/runtime.yml
# Starting with Python 3.9, ansible 4 is needed.
# The sanity check of ansible 4 supports Python only up to 3.9, so Python 3.10 requires ansible 5.
# The sanity check of ansible 5 supports Python only up to 3.10, so Python 3.11 requires ansible 6.
ansible>=2.9.1; python_version == '2.7'   # sanity test is not run here
ansible>=2.9.1; python_version >= '3.5' and python_version <= '3.8'
ansible>=4.0.0; python_version == '3.9'
ansible>=5.0.1; python_version == '3.10'
ansible>=6.0.0; python_version >= '3.11'

# requests 2.22.0 removes the pinning of urllib3 to <1.25.0, and urllib 1.25.9
#   is required to address safety issues
# requests 2.25.0 tolerates urllib3 1.26.5 which is needed on Python 3.10 to
#   remove ImportWarning in six
requests>=2.22.0; python_version <= '3.9'
requests>=2.25.0; python_version >= '3.10'

# git+https://github.com/zhmcclient/python-zhmcclient@stable_1.3#egg=zhmcclient
zhmcclient>=1.5.0


# Indirect dependencies are not specified in this file, unless needed to solve versioning issues:

# Jinja2 is used by ansible/ansible-core and by ansible-doc-extractor.
# The module.rst.j2 template used by ansible-doc-extractor uses the 'tojson' filter added in Jinja2 2.9
# Ansible 6 requires Jinja2>=3.0
# Python 3.10 requires Jinja>=2.11
Jinja2>=2.9; python_version <= '3.8'   # ansible <= 5
Jinja2>=3.0; python_version >= '3.9'   # ansible >= 6

# MarkupSafe is used by Jinja2
# Jinja2 3.0 requires MarkupSafe>=2.0
MarkupSafe>=1.1.0; python_version <= '3.8'   # ansible <= 5
MarkupSafe>=2.0.0; python_version >= '3.9'   # ansible >= 6

# cryptography 3.1 has deprecated Python 3.5 support and issues a deprecation
# warning that causes ansible-test to fail
# cryptography 3.2 addresses a dependabot security issue
# cryptography 37.0.0 has deprecated Python 3.6 support and issues a deprecation
# warning that causes ansible-test to fail
cryptography>=3.3; python_version == '2.7'
cryptography>=3.0,<3.1; python_version == '3.5'
cryptography>=3.4.7,<37.0.0; python_version == '3.6'
cryptography>=3.4.7; python_version >= '3.7'

# importlib-metadata is used by jsonschema which is used by zhmcclient
importlib-metadata>=0.12,<5.0.0; python_version <= '3.7'
importlib-metadata>=1.1.0; python_version >= '3.8'

packaging>=20.0

# PyYAML 5.3 fixed narrow build error on Python 2.7
# PyYAML 5.3.1 addressed issue 38100 reported by safety
# PyYAML 5.2 addressed issue 38639 reported by safety
PyYAML>=5.3.1
