*--------------------------------------------------------------------*
* SCI INITIALIZATION PROCLIB MEMBER.                                 *
*--------------------------------------------------------------------*
ARMRST=N,
SCINAME={{ DFS_IMS_SSID[-1] }}SCI1,             /* SCI NAME          */
IMSPLEX(NAME={{ DFS_IMSPlex }})        /* IMSPLEX NAME                       */