<SECTION=CATALOG>
CATALOG=N
ALIAS=DFSC
RETENTION=(DAYS=40,VERSIONS=55)
ACBMGMT=ACBLIB
{% if DFS_SMS_ENVIRONMENT %}
STORCLAS={{DFS_SMS_CLASS}}
{% endif %}
*
<SECTION=DATABASE>
UNREGCATLG=(DFSCX000,DFSCD000)
<SECTION=OSAM123>
IOBF=(4096,4,N,N,OSM1)
IOBF=(2K,4,N,N)
IOBF=(513,5,N,N,OSM3)
IOBF=(519,5,N,N,OSM3)
<SECTION=VSAMABC>
POOLID=(VSM1,VSRBF=(2048,500,D))