**********************************************************************
* Specify the location of Java native code (libJavTDLI.so) and Java
Virtual Machine (JVM) installation.
**********************************************************************
LIBPATH=>
/usr/lpp/java160/J6.0/bin/j9vm:>
/usr/lpp/java160/J6.0/bin/:>
/u/{{ DFS_IMS_USERID }}/>
usr/lpp/ims/ims13/imsjava/lib:>
/u/{{ DFS_IMS_USERID }}/>
usr/lpp/ims/ims13/imsjava/classic/lib
$$
