CSQACLST,CSQAMLST,CSQAPRH,CSQAVICM,CSQFSALM,CSQQDEFV,
CSQQCONN,CSQQDISC,CSQQTERM,CSQQINIT,CSQQBACK,CSQQCMMT,
CSQQESMT,CSQQPREP,CSQQTTHD,CSQQWAIT,CSQQNORM,CSQQSSOF,
CSQQSSON,CSQFSTAB,CSQQRESV,CSQQSNOP,CSQQCMND,CSQQCVER,
CSQQTMID,CSQQTRGI,CSQQCON2,