VSRBF=4096,5
VSRBF=2048,5
VSRBF=1024,5
VSRBF=512,5
IOBF=(8192,5)
IOBF=(2048,5)
OPTIONS,BGWRT=YES,INSERT=SKP,DUMP=YES
OPTIONS,DL/I=OUT,LOCK=ON,DISP=ON,SCHD=ON,DLOG=ON,LATC=ON,SUBS=ON
DLITRACE,LOG=YES,COMP