D IMSDTOR1 TYPE=IMSCON TMEMBER={{ DFS_IMS_SSID }}HWS TPIPE=TPIPE1
D IMSDTOR2 TYPE=IMSCON TMEMBER={{ DFS_IMS_SSID }}HWS TPIPE=TPIPE2
D IMSDTOR3 TYPE=IMSCON TMEMBER={{ DFS_IMS_SSID }}HWS TPIPE=TPIPE3
D IMSDTOR4 TYPE=IMSCON TMEMBER={{ DFS_IMS_SSID }}HWS TPIPE=TPIPE4
D IMSDTOR5 TYPE=IMSCON TMEMBER={{ DFS_IMS_SSID }}HWS TPIPE=TPIPE5
D IMSDTOR6 TYPE=IMSCON TMEMBER={{ DFS_IMS_SSID }}HWS TPIPE=IVPPIPE6