HWS=(ID={{ DFS_IMS_SSID }}HWS,XIBAREA=100,RACF=N,RRS={{ DFS_useRRS }})
TCPIP=(HOSTNAME=TCPIP,PORTID=({{ DFS_REGION_TCPIPPORT }},LOCAL),
RACFID=SYS1,TIMEOUT=5000,
IPV6=Y,SSLPORT=({{ DFS_REGION_SSLTCPIPPORT }}),SSLENVAR=HWSDPSSL,MAXSOC=600,
EXIT=(HWSIMSO0,HWSIMSO1,HWSSMPL0,HWSSMPL1,HWSCSLO0,HWSCSLO1,HWSSOAP1,
HWSDPWR1))
DATASTORE=(ID={{ DFS_IMS_SSID }},
GROUP={{ DFS_IMSXCFGroup }},MEMBER={{ DFS_IMS_SSID }}HWS,
TMEMBER={{ DFS_IMS_SSID }},DRU=HWSYDRU0,APPL=APPLID1)
IMSPLEX=(MEMBER={{ DFS_IMS_SSID }}HWS,TMEMBER={{ DFS_IMSPlex }})
ADAPTER=(XML=Y)
ODACCESS=(ODBMAUTOCONN=N,IMSPLEX=(MEMBER=HWS1,TMEMBER={{ DFS_IMSPlex }}),
     DRDAPORT=(ID={{ DFS_PORTID }},PORTTMOT=6000),ODBMTMOT=6000)