//MESSAGE  JOB 1,IMS,MSGLEVEL=1,PRTY=11,CLASS={{ JOB_CLASS }},MSGCLASS=H,
//                                                           REGION=512K
//PROCS JCLLIB ORDER={{ DFS_AUTH_LIB_HLQ1}}.IMS1.PROCLIB
//       EXEC DFSMPR,
//            IMSID=