XCF_THREADS=8
MAX_COMMUNICATION_RETRY=32
MBR_CORE_MAX=1024
IMSPLEX(NAME=RPLXN)
RSNAME=RSRVNM
PRIMARY_CATALOG_REPOSITORY_INDEX=(
{{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.REPO.CATPRI.RID)
PRIMARY_CATALOG_REPOSITORY_MEMBER=(
{{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.REPO.CATPRI.RMD)
SECONDARY_CATALOG_REPOSITORY_INDEX=(
{{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.REPO.CATSEC.RID)
SECONDARY_CATALOG_REPOSITORY_MEMBER=(
{{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.REPO.CATSEC.RMD)
VSAM_BUFNO=128
VSAM_BUFSIZE=8
XCF_GROUP_NAME=REPXCFGN
AUDIT=NO
AUDIT_FAIL=CONTINUE
AUDIT_LEVEL=HIGH
AUDIT_DEFAULT=NOAUDIT