{{ JOB_CARD }}
//* SKELETON: DFSIXSOZ
//*
//* FUNCTION: ADD CSL CONTROL STATEMENT MEMBERS TO IMS PROCLIB
//*********************************************************************
//*
//*
//********************************************************************
//PROCUPDT PROC MBR=TEMPNAME
//*
//P        EXEC PGM=IEBGENER
//SYSPRINT DD SYSOUT=*
//SYSUT2   DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.PROCLIB(&MBR)
//SYSIN    DD DUMMY
//        PEND
//********************************************************************
//*
//* THE FOLLOWING STEP ADDS THE BPECONFG MEMBER TO IMS PROCLIB.
//* THIS MEMBER DEFINES THE CONFIGURATION FILE FOR BPE WITH
//* CQS, OM, RM, SCI.
//*
//BPECONFG EXEC PROC=PROCUPDT,MBR=BPECONFG
//P.SYSUT1 DD *
*--------------------------------------------------------------------*
* CONFIGURATION FILE FOR BPE WITH CQS, OM, RM, SCI - BPECONFG        *
*--------------------------------------------------------------------*

LANG=ENU                             /* LANGUAGE FOR MESSAGES      */
                                     /* (ENU = U.S. ENGLISH)       */

#
# DEFINITIONS FOR BPE SYSTEM TRACES
#

TRCLEV=(*,LOW,BPE)                   /* DEFAULT ALL TRACES TO LOW  */

#
# DEFINITIONS FOR OM/RM/SCI TRACES
#
TRCLEV=(*,LOW,OM)                    /* DEFAULT OM TRACES TO LOW   */

*--------------------------------------------------------------------*
* END OF MEMBER BPECONFG                                             *
*--------------------------------------------------------------------*

*
/*
//*
//* THE FOLLOWING STEP ADDS THE CSLOI000 MEMBER TO IMS PROCLIB.
//* THIS MEMBER DEFINES THE OM INITIALIZATION PROCLIB MEMBER.
//*
//CSLOI000 EXEC PROC=PROCUPDT,MBR=CSLOI000
//P.SYSUT1 DD *
*--------------------------------------------------------------------*
* OM INITIALIZATION PROCLIB MEMBER - CSLOI000                        *
*--------------------------------------------------------------------*

ARMRST=N,                      /* SHOULD ARM RESTART OM ON FAILURE  */
CMDLANG=ENU,                   /* USE ENGLISH FOR COMMMAND DESC     */
CMDSEC=N,                      /* NO COMMAND SECURITY               */
OMNAME={{ DFS_IMS_SSID[-1] }}OM1,                    /* OM NAME (OMID = OM1OM)            */
IMSPLEX(
  NAME={{ DFS_IMSPlex }},                  /* IMSPLEX NAME (CSLPLEX1)           */
CMDTEXTDSN={{ DFS_AUTH_LIB_SYSHLQ }}.SDFSDATA /* CMD TEXT DATASET            */

*--------------------------------------------------------------------*
* END OF MEMBER CSLOI000                                             *
*--------------------------------------------------------------------*
/*
//*
//*
//* THE FOLLOWING STEP ADDS THE OM PROC MEMBER TO IMS PROCLIB
//* THIS MEMBER DEFINES THE IMS COMMON SERVICE LAYER PROCLIB
//* MEMBER
//*
//*
//{{ DFS_IMS_SSID }}OM EXEC PROC=PROCUPDT,MBR={{ DFS_IMS_SSID }}OM
//P.SYSUT1 DD DATA,DLM=$$
//*------------------------------------------------------------------*
//*   OM                                                             *
//*------------------------------------------------------------------*
//*     PARAMETERS:                                                  *
//*     BPECFG  - NAME OF BPE MEMBER                                 *
//*     OMINIT  - SUFFIX FOR YOUR CSLOIXXX MEMBER                    *
//*     ARMRST  - INDICATES IF ARM SHOULD BE USED                    *
//*     CMDLANG - LANGUAGE FOR COMMAND DESCRIPTION TEXT              *
//*     CMDSEC  - COMMAND SECURITY METHOD                            *
//*     OMNAME  - NAME OF THE OM BEING STARTED                       *
//*------------------------------------------------------------------*
//*
//IEFPROC  EXEC PGM=BPEINI00,REGION=3000K,
//  PARM=('BPECFG=BPECONFG','BPEINIT=CSLOINI0','OMINIT=000',
//        'ARMRST=N','CMDSEC=N','OMNAME={{ DFS_IMS_SSID[-1] }}OM1')
//*
//STEPLIB  DD  DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.SDFSRESL,DISP=SHR
//*
//PROCLIB  DD  DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.PROCLIB,DISP=SHR
//*
//SYSPRINT DD  SYSOUT=*
//SYSUDUMP DD  SYSOUT=*
//*
$$
//*
//* THE FOLLOWING STEP ADDS THE CSLOIROM MEMBER USED BY OM IN
//* THE REPOSITORY INTO THE IMS PROCLIB
//*
//CSLOIROM  EXEC PROC=PROCUPDT,MBR=CSLOIROM
//P.SYSUT1 DD *
*--------------------------------------------------------------------*
* OM INITIALIZATION PROCLIB MEMBER.                                  *
*--------------------------------------------------------------------*
ARMRST=N,                      /* SHOULD ARM RESTART OM ON FAILURE  */
CMDLANG=ENU,                   /* USE ENGLISH FOR COMMMAND DESC     */
CMDSEC=N,                      /* NO COMMAND SECURITY               */
OMNAME={{ DFS_IMS_SSID[-1] }}OM1,                    /* OM NAME (OMID = OM1OM)            */
IMSPLEX(
  NAME={{ DFS_IMSPlex }},               /* IMSPLEX NAME (CSLPLEX1)           */
CMDTEXTDSN={{ DFS_AUTH_LIB_SYSHLQ }}.SDFSDATA /* CMD TEXT DATASET            */
/*
//*