{{ JOB_CARD }}
/* SKELETON: DFSIXSEG
//*
//* FUNCTION: ASSEMBLE AND BIND THE USER EXITS.
//*********************************************************************
//* THE ASSEMBLER READS FROM THE SOURCE LIBRARY.
//ASMLNK   PROC MBR=TEMPNAME,USE=REUS
//*
//ASM      EXEC PGM=ASMA90,PARM='OBJECT,NODECK'
//SYSPRINT DD SYSOUT=*
//SYSLIB   DD DISP=SHR,DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.SDFSMAC
//         DD DISP=SHR,DSN={{ zCloud_MACLIB }}
//SYSLIN   DD UNIT={{ DFS_IMS_UNIT }},DISP=(,PASS,DELETE),SPACE=(CYL,(1,1)),
//            DCB=(RECFM=F,LRECL=80,BLKSIZE=80)
//SYSUT1   DD UNIT={{ DFS_IMS_UNIT }},DISP=(,DELETE,DELETE),SPACE=(CYL,(1,1))
//SYSUT2   DD UNIT={{ DFS_IMS_UNIT }},DISP=(,DELETE,DELETE),SPACE=(CYL,(1,1))
//SYSUT3   DD UNIT=({{ DFS_IMS_UNIT }},SEP=(SYSLIB,SYSUT1,SYSUT2)),
//            DISP=(,DELETE,DELETE),SPACE=(CYL,(1,1))
//SYSIN    DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ }}.ADFSISRC(&MBR)
//*
//LKED     EXEC PGM=IEWL,COND=(0,LT,ASM),
//         PARM='&USE,REFR,NCAL,LET,LIST,XREF,SIZE(880K,64K)'
//SYSPRINT DD SYSOUT=*
//SYSLIN   DD DISP=(OLD,DELETE,DELETE),
//            DSN=*.ASM.SYSLIN,VOL=REF=*.ASM.SYSLIN
//         DD DDNAME=SYSIN
//SYSLMOD  DD DISP=SHR,DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.SDFSRESL
//SYSUT1   DD UNIT=({{ DFS_IMS_UNIT }},SEP=(SYSLMOD,SYSLIN)),
//            DISP=(,DELETE,DELETE),SPACE=(CYL,(1,1))
//        PEND
//*********************************************************************
//* THE ASSEMBLER READS FROM THE SAMPLE LIBRARY.
//ASMLNK2  PROC MBR=TEMPNAME,USE=REUS
//*
//ASM2     EXEC PGM=ASMA90,PARM='OBJECT,NODECK'
//SYSPRINT DD SYSOUT=*
//SYSLIB   DD DISP=SHR,DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.SDFSMAC
//         DD DISP=SHR,DSN={{ zCloud_MACLIB }}
//         DD DISP=SHR,DSN={{ zCloud_MODGEN }}
//SYSLIN   DD UNIT={{ DFS_IMS_UNIT }},DISP=(,PASS,DELETE),SPACE=(CYL,(1,1)),
//            DCB=(RECFM=F,LRECL=80,BLKSIZE=80)
//SYSUT1   DD UNIT={{ DFS_IMS_UNIT }},DISP=(,DELETE,DELETE),SPACE=(CYL,(1,1))
//SYSUT2   DD UNIT={{ DFS_IMS_UNIT }},DISP=(,DELETE,DELETE),SPACE=(CYL,(1,1))
//SYSUT3   DD UNIT=({{ DFS_IMS_UNIT }},SEP=(SYSLIB,SYSUT1,SYSUT2)),
//            DISP=(,DELETE,DELETE),SPACE=(CYL,(1,1))
//SYSIN    DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ }}.ADFSSMPL(&MBR)
//*
//LKED2    EXEC PGM=IEWL,COND=(0,LT,ASM2),
//         PARM='&USE,REFR,NCAL,LET,LIST,XREF,SIZE(880K,64K)'
//SYSPRINT DD SYSOUT=*
//SYSLIN   DD DISP=(OLD,DELETE,DELETE),
//            DSN=*.ASM2.SYSLIN,VOL=REF=*.ASM2.SYSLIN
//         DD DDNAME=SYSIN
//SYSLMOD  DD DISP=SHR,DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.SDFSRESL
//SYSUT1   DD UNIT=({{ DFS_IMS_UNIT }},SEP=(SYSLMOD,SYSLIN)),
//            DISP=(,DELETE,DELETE),SPACE=(CYL,(1,1))
//        PEND
//*********************************************************************
//* USER EXIT FOR RESOURCE ACCESS SECURITY CHECKING.
//* THIS MODULE CAUSES ALL REQUESTERS TO PASS AUTHORIZATION.
//*
//DFSRAS00 EXEC PROC=ASMLNK,MBR=DFSIVX1
//LKED.SYSIN DD *
           MODE AMODE(31),RMODE(ANY)
           NAME DFSRAS00(R)
/*
//*********************************************************************
//* USER EXIT FOR COMMAND AUTHORIZATION SECURITY CHECKING.
//* THIS MODULE CAUSES ALL REQUESTERS TO PASS AUTHORIZATION.
//*
//DFSCCMD0 EXEC PROC=ASMLNK,MBR=DFSIVX4,USE=RENT
//LKED.SYSIN DD *
           MODE AMODE(31),RMODE(ANY)
           NAME DFSCCMD0(R)
/*
//*********************************************************************
//* USER MESSAGE EXIT FOR IMS CONNECT/OTMA SERVER FOR TCP CLIENTS.
//*
//HWSSMPL1 EXEC PROC=ASMLNK2,MBR=HWSSMPL1,USE=RENT
//LKED2.SYSIN DD *
           MODE AMODE(31),RMODE(ANY)
           NAME HWSSMPL1(R)
/*
//*********************************************************************
//* USER INITIALIZATION EXIT FOR IMS CONNECT
//*
//HWSUINIT EXEC PROC=ASMLNK2,MBR=HWSUINIT,USE=RENT
//LKED2.SYSIN DD *
           MODE  AMODE(31),RMODE(24)
           NAME  HWSUINIT(R)
/*
//*********************************************************************
//* USER MESSAGE EXIT FOR IMS CONNECTOR FOR IMS JAVA CLIENTS
//*
//HWSJAVA0 EXEC PROC=ASMLNK2,MBR=HWSJAVA0,USE=RENT
//LKED2.SYSIN DD *
           MODE  AMODE(31),RMODE(24)
           NAME  HWSJAVA0(R)
/*