{{ JOB_CARD }}
//**************************************************************/
//* JOB NAME:          DFSPROCB                                */
//*                                                            */
//*       LICENSED MATERIALS - PROPERTY OF IBM                 */
//*       5635-A06                                             */
//*       COPYRIGHT IBM CORP 1974,2016 ALL RIGHTS RESERVED.    */
//*                                                            */
//*       US GOVERNMENT USERS RESTRICTED RIGHTS -              */
//*       USE, DUPLICATION OR DISCLOSURE RESTRICTED            */
//*       BY GSA ADP SCHEDULE CONTRACT WITH IBM CORP.          */
//*                                                            */
//* DESCRIPTION: THIS JCL WILL CREATE IMS PROCLIB MEMBERS      */
//*              USED AS INPUT TO VARIOUS UTILITIES AND        */
//*              RENAME SELECTED IMS PROCLIB MEMBERS TO        */
//*              DOCUMENTED NAMES                              */
//*                                                            */
//* CAUTION:     THIS IS NEITHER A JCL PROCEDURE NOR           */
//*              A COMPLETE JOB.                               */
//*              YOU WILL HAVE TO MAKE MODIFICATIONS BEFORE    */
//*              SUBMITTING THIS JOB.                          */
//*                                                            */
//* NOTES:                                                     */
//* 1) ADD A JOB CARD TO MEET YOUR SYSTEM'S REQUIREMENT        */
//* 2) CHANGE {{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }} TO THE APPROPRIATE HIGH-LEVEL QUALIFIER  */
//*    THAT COMPLIES WITH YOUR SITES NAMING STANDARDS.         */
//*                                                            */
//**************************************************************/
//STEP1   EXEC PGM=IEBUPDTE,TIME=600,PARM=NEW
//SYSPRINT   DD SYSOUT=*
//SYSUT1     DD DSN={{ADDTL_SAMP_PROC_LIB}},DISP=SHR
//SYSUT2     DD DSN={{ADDTL_SAMP_PROC_LIB}},DISP=SHR
//SYSIN      DD *
./        ADD  NAME=CBLTDLI
  LIBRARY SDFSRESL(CBLTDLI)     DL/I LANG INTF
  LIBRARY SDFSRESL(DFHEI01)     HLPI LANG INTF
  LIBRARY SDFSRESL(DFHEI1)      HLPI LANG INTF
  ENTRY DLITCBL
./        ADD  NAME=PLITDLI
  LIBRARY SDFSRESL(PLITDLI)     PL/I LANG INTF
  LIBRARY SDFSRESL(DFHEI01)     HLPI LANG INTF
  LIBRARY SDFSRESL(DFHEI1)      HLPI LANG INTF
  ENTRY PLICALLA
./        ADD  NAME=DFSMREC
0,MODBLKSA,IMSACBA,FORMATA
./        ADD  NAME=REFCPY
          COPY INDD=REFOUT,OUTDD=REFOUT
./        ADD  NAME=DFSACBCP
          COPY INDD=IMSACB,OUTDD=IMSACB
./        ADD  NAME=FMTCPY
          COPY INDD=FORMAT,OUTDD=FORMAT
//*
//RENAME  EXEC PGM=IEBCOPY
//SYSPRINT   DD SYSOUT=*
//SYSUT3     DD UNIT=SYSDA,SPACE=(TRK,(15,15)),DISP=(,DELETE)
//SYSUT4     DD UNIT=SYSDA,SPACE=(TRK,(15,15)),DISP=(,DELETE)
//INPUT      DD DSN={{ADDTL_SAMP_PROC_LIB}},DISP=SHR
//OUTPUT     DD DSN={{ADDTL_SAMP_PROC_LIB}},DISP=SHR
//SYSIN      DD *
 COPY I=((INPUT,R)),O=OUTPUT
 SELECT MEMBER=((DFSDBDGN,DBDGEN))
 SELECT MEMBER=((DFSIMSBT,IMSBATCH))
 SELECT MEMBER=((DFSPSBGN,PSBGEN))
