################################################################################
# Copyright (c) IBM Corporation 2020
################################################################################

################################################################################
# For for on ansible.cfg options see:
#   https://docs.ansible.com/ansible/latest/reference_appendices/config.html
#
# For a full sample see:
#   https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg
#
# Note:
#   Some of the common options configured are `remote_temp` and `ansible_port`.
#   remote_temp - The temporary directory Ansible uses to transfer files onto
#                  the controller. Default is `/.ansible/tmp`
#   ansible_port - The connection port number Ansible uses to connect to the
#                  target; configure the target if is not using default SSH
#                  port 22
################################################################################

# [defaults]
# forks = 25
# # callbacks_enabled = ansible.posix.profile_tasks

# # For Ansible versions less than 2.11
# [ssh_connection]
# pipelining = True

# # For Ansible versions 2.11 or later
# [connection]
# pipelining = False

[defaults]
forks          = 25
internal_poll_interval  = 0.001
transport      = ssh
gathering = explicit
transfer_method = fscp
scp_if_ssh = False
host_key_checking = False
stdout_callback = yaml
bin_ansible_callbacks = True
display_skipped_hosts = false
error_on_missing_handler = False
system_warnings = False
deprecation_warnings = False
strategy = free
var_compression_level = 9

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=1200s -o PreferredAuthentications=publickey -o ForwardAgent=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True 

[connection]
pipelining = True