//******************************************************************
//*  DBC Procedure
//*
//*  This procedure is an online execution procedure to
//*  initialize the DBCTL environment.
//*
//*  The high-level qualifier of the IMS data sets is IMS.
//*  If your installation does not use this default value,
//*  then set the NODEx parameters, which correspond
//*  to the names specified in the IMSGEN macro.
//*
//************* C O N D I T I O N A L   C H A N G E ******************
//*  IMPORTANT: This procedure needs to be modified if
//*  any of the following are true:
//*  - Monitor logging is used
//*  Look for the 'Conditional Change' comment lines.
//************* E N D   C O N D I T I O N A L   C H A N G E **********
//*
//*
//***********************************************************@SCPYRT**
//*
//*  Licensed Materials - Property of IBM
//*
//*  5635-A06
//*
//*      Copyright IBM Corp. 2016      All Rights Reserved
//*
//*  US Government Users Restricted Rights - Use, duplication or
//*  disclosure restricted by GSA ADP Schedule contract with
//*  IBM Corp.
//*
//***********************************************************@ECPYRT**
//*
//       PROC RGN=64M,SOUT=A,DPTY='(14,15)',
//            SYS=,SYS2=,
//************* C O N D I T I O N A L   C H A N G E ******************
//* IF MONITOR LOGGING IS ENABLED,
//* THEN UN-COMMENT THE FOLLOWING LINE:
//*           LOGT=2400,SYS1=,
//************* E N D   C O N D I T I O N A L   C H A N G E **********
//            RGSUF=DBC,PARM1=,PARM2=
//*
//IEFPROC EXEC PGM=DFSMVRC0,DPRTY=&DPTY,REGION=&RGN,
//            PARM='DBC,&RGSUF,&PARM1,&PARM2'
//*
//*
//* THE MEANING AND MAXIMUM SIZE OF EACH PARAMETER
//* IS AS FOLLOWS:
//****************************************************
//*   RGSUF  XXX   EXEC PARM DEFAULT BLOCK SUFFIX FOR
//*                MEMBER DFSPBXXX.
//****************************************************
//*
//*  PARM1 , PARM2 PARAMETERS BOTH ARE USED TO SPECIFY
//*  CHARACTER STRINGS THAT CONTAIN IMS KEYWORD
//*  PARAMETERS. I.E. PARM1='AUTO=Y,PST=222,RES=Y'
//*
//*  ALL OF THE VALID DBCTL KEYWORD PARAMETERS
//*  ARE DESCRIBED BELOW
//****************************************************
//*
//******** CONTROL REGION SPECIFICATIONS ********
//*   RES    X     BLOCK RESIDENT (N = NO, Y = YES)
//*   PST    XXX   NUMBER OF PST'S PERMANENTLY ALLOC
//*   MAXPST XXX   MAXIMUM NUMBER OF PST'S
//*   SRCH   X     MODULE SEARCH INDICATOR FOR DIRECTED LOAD
//*                0 = STANDARD SEARCH
//*                1 = SEARCH JPA AND LPA BEFORE PDS
//*   FMTO         T = ONLINE FORMATTED DUMP WITH
//*                    STORAGE IMAGE DELETIONS.
//*                    TERM=NO SDUMPS ALLOWED.
//*                P = FULL ONLINE FORMATTED DUMP.
//*                    TERM=NO SDUMPS ALLOWED.
//*                F = FULL ONLINE FORMATTED DUMP.
//*                    TERM=NO SDUMPS NOT ALLOWED.
//*                N = NO FORMATTED DUMP, NO OFFLINE
//*                    DUMP. TERM=NO SDUMPS ALLOWED.
//*                Z = NO FORMATTED DUMP, NO OFFLINE
//*                    DUMP. TERM=NO SDUMPS NOT
//*                    ALLOWED.
//*  (DEFAULT)     D = OFFLINE DUMP, OR ONLINE FORMAT-
//*                    TED DUMP WITH STORAGE IMAGE
//*                    DELETIONS IF OFFLINE DUMPING
//*                    FAILS. TERM=NO SDUMPS ALLOWED.
//*                X = OFFLINE DUMP, OR ONLINE FORMAT-
//*                    TED DUMP WITH STORAGE IMAGE
//*                    DELETIONS IF OFFLINE DUMPING
//*                    FAILS. TERM=NO SDUMPS NOT
//*                    ALLOWED.
//*                M = OFFLINE DUMP, ONLINE IMS DUMP
//*                    FORMATTING NOT PERMITTED
//*                    TERM=NO SDUMPS ALLOWED.
//*                R = OFFLINE DUMP, ONLINE IMS DUMP
//*                    FORMATTING NOT PERMITTED
//*                    TERM=NO SDUMPS NOT ALLOWED.
//*   AUTO   X     Y = AUTOMATIC RESTART DESIRED
//*                N = NO AUTOMATIC RESTART
//*   IMSID  XXXX  IMS SUBSYSTEM IDENTIFIER
//*   ISIS   X     N = NO RESOURCE ACCESS SECURITY
//*                R = RACF RESOURCE ACCESS SECURITY
//*                C = RACF RESOURCE ACCESS SECURITY
//*                A = RACF RESOURCE ACCESS SECURITY
//*   ARMRST X     Y = ALLOW MVS ARM TO RESTART
//*                N = ARM NOT RESTART IMS
//*   RRS     X    Y = ENABLE PROT CONV SUPPORT
//*                N = DISABLE PROT CONV SUPPORT
//*   IRLM   X     Y = YES, N = NO
//*   IRLMNM XXXX  IRLM SUBSYSTEM NAME
//*   SSM    XXXX  EXT SUBSYSTEM PROCLIB MEMBER ID
//*   WADS   X     SINGLE OR DUAL WADS,S=SINGLE,D=DUAL
//*   ARC    XX    AUTOMATIC ARCHIVE.
//*                0 = NOT AUTOMATIC
//*                1-99 = AUTOMATIC
//*   UHASH  XXXXXXXX USER HASH MODULE NAME
//*   DBRCNM XXXXXXXX DBRC PROCLIB MEMBER NAME
//*   DLINM  XXXXXXXX DL/I PROCLIB MEMBER NAME
//*   PRDR   XXXXXXXX IMSRDR PROCLIB MEMBER NAME
//*   DBRSE  XXXXXXXX 8 CHAR DBCTL RSENAME
//*   CRC    X     COMMAND RECOGNITION CHARACTER
//*   CMDMCS X     COMMAND SECURITY OPTION
//*                R=RACF COMMAND SECURITY
//*                C=DFSCCMD0 COMMAND SECURITY
//*                B=RACF AND DFSCCMD0 CMD SEC
//*   PREMSG X     PREFIX MESSAGE OPTION
//*                N=NO DFS000I PREFIX
//*                Y=DEFAULT, DFS000I PREFIX
//*   PIMAX  XXXXXX ENQ/DEQ POOL MAXIMUM BYTES
//*   PIINCR XXXXXX ENQ/DEQ POOL INCREMENT
//*   AOIS    X     ICMD SECURITY OPTION
//*   PSWDC   X     PASSWORD CASE
//*                 R=RACF (DEFAULT)
//*                 U=UPPER CASE
//*                 M=MIXED CASE
//*   YEAR4   X     N = 2-DIGIT DATE (DEFAULT)
//*                 Y = 4-DIGIT DATE
//*   CPLOG   XXXXXK CHECKPOINT LOG INTERVAL
//*           OR
//*   CPLOG   XXM    CHECKPOINT LOG INTERVAL
//*   IMSGROUP XXXX  4 CHAR USER SPEC NAME
//*   DESC    XX    MSG DESC CODE
//*   MCS     (XX,XX) MSG ROUTE CODES
//*   SVC2    XXX   TYPE 2 SVC NUMBER
//*   CCTCVCAN X    Y = CCTL CANCEL WILL BE CONVERTED
//*                     TO ABEND SYSTEM 08E
//*                 N = CCTL CANCEL IS NOT CONVERTED
//*
//******** FDR PARAMETER *****************************
//*
//*   FDRMBR  XX    SUFFIX FOR FDR MEMBER IN
//*                 {{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.PROCLIB
//*
//******** FAST PATH PARAMETERS ********
//*
//*   BSIZ   XXX   DATA BASE BUFFER SIZE
//*   OTHR   XXX   NUMBER OF OUTPUT THREADS
//*   DBFX   XXX   SYSTEM ALLOCATION OF DATA BASE BUFFERS TO BE
//*                FIXED AT START OF 1ST FAST PATH DEP REGION
//*   DBBF   XXX   NUMBER OF DATABASE BUFFERS
//*   DBFP   XXXX  PAGE FIX/FREE ADJUST TIMER
//*                0: FIX/FREE AT SCHED/TERM
//*                1: ALLOW PAGEFIX ONLY
//*                2-3600: SEC PAGEFREE FREQ
//*   LGNR   XX    NUMBER OF LOG ENTRIES IN DEDB BUFFERHEADER
//*   SVSODR XXXX  SVSO DISASTER RECOVERY OPTIONS
//*                NONE: DEFAULT. NO CHANGE TO ERE.
//*                AUTO: AREA MARKED RECOV NEEDED IF
//*
//*                DRRS: AREA MARKED RECOV NEEDED AT
//*
//*                WTOR: USER OPTION TO MARK AREAS
//*
//*   DMHVF  XX    MEGS TO FIX PAGEFIX FOR VSO ERE     DATASPACE
//*   FPOPN   X    PREOPEN/REOPEN OPTIONS FOR DEDBS
//*                N: DEFAULT. PREOPEN OF DEDB AREAS
//*                   DONE BEFORE IMS RESTART
//*                   COMPLETES
//*                R: REOPEN AREAS OPENED WHEN IMS
//*                   ABNORMALLY TERMINATED.  BEHAVE
//*                   LIKE OPTION P FOR NON /ERE
//*                P: PREOPEN OF DEDB AREA
//*                   INITIATED AT THE END OF
//*                   RESTART
//*                A: OPTION R AND P COMBINED
//*   FPRLM   X    DEDB OPTIONS FOR IRLM RECONNECT
//*                N: DEFAULT. NO ACTION TAKEN
//*                S: RESTART ALL DEDB AREAS WHICH
//*                   WERE STARTED WHEN IRLM
//*                   DISCONNECTED
//*                R: RESTART AND REOPEN ALL DEDB
//*                   AREAS WHICH WERE STARTED WHEN
//*                   IRLM DISCONNECTED
//*                P: PREOPEN OF DEDB AREA
//*                   INITIATED AT THE END OF
//*                   IRLM RECONNECT
//*                A: COMBINE OPTIONS R AND P
//*   FP      X    INCLUDE FASTPATH IN THIS IMS
//*                N: THE DEFAULT.  THIS IMS DOES
//*                   NOT INCLUDE FASTPATH
//*                Y: THIS IMS INCLUDES FASTPATH
//******** RSR PARAMETERS *************************
//*
//*   RSRMBR XX    SUFFIX FOR RSR MEMBER
//*   TRACK  XXX   NO = NO RECOVERY TRACKING DONE
//*                RLT = RECOVERY TRACKING DONE
//*                DLT = DATABASE TRACKING DONE
//*
//******** STORAGE POOL VALUES IN K, M OR G ******
//*   DMB    XXXXXX DMB POOL SIZE
//*   CIOP   XXXXXX CIOP POOL UPPER LIMIT
//*   WKAP   XXXXXX WORKING STORAGE BUFFER POOL SIZE
//*   PSBW   XXXXXX PSB WORK POOL SIZE
//*   DBWP   XXXXXX DATABASE WORK POOL SIZE
//*   CSAPSB XXXXXX DLISAS: CSA PSB POOL SIZE
//*   DLIPSB XXXXXX DLISAS: DLI PSB POOL SIZE
//*   EPCB   XXXXXX EPCB POOL SIZE
//*   FPWP   XXXXXX FP WORK POOL UPPER LIMIT
//*   AOIP   XXXXXX AOI POOL UPPER LIMIT
//*   CMDP   XXXXXX CMDP POOL UPPER LIMIT
//*
//******** MEMBER SUFFIXES **********************
//*
//*   SUF    X     LAST CHARACTER OF CTL PROGRAM LOAD
//*                MODULE MEMBER NAME
//*   FIX    XX    2 CHARACTER FIX PROCEDURE MODULE SUFFIX
//*   PRLD   XX    2 CHARACTER PROCLIB MEMBER SUFFIX FOR PRELOAD
//*   VSPEC  XX    2 CHARACTER BUFFER POOL SPEC MODULE SUFFIX
//*   SPM    XX    STORAGE POOL OPTIONS (DFSSPMXX)
//*   CSLG   XXX   CSL GLOBAL MEMBER (DFSCGXXX)
//*  DFSDF   XXX   DRD, CSL, AND SQ MEMBER (DFSDFXXX)
//***********************************************
//*
//STEPLIB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.SDFSRESL,DISP=SHR
//PROCLIB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.PROCLIB,DISP=SHR
//*
//***************************************************
//* IN ORDER TO START A DEPENDENT REGION, MODIFIED
//* START-UP JCL IS WRITTEN FROM INTERNAL STORAGE TO
//* THE INTERNAL READER.
//*
//IMSIRD   DD SYSOUT=(A,INTRDR)
//*
//*********** DASD  LOGGING DD CARDS *************
//* THE FOLLOWING DD CARDS DESCRIBE THE DASD LOGGING
//* OLDS AND WADS. THESE CARDS ARE FOR EXAMPLE ONLY.
//* ALL OLDS AND WADS DATA SETS MAY BE DYNAMICALLY
//* ALLOCATED.  DD CARDS ARE NOT REQUIRED.
//* THE OLDS AND WADS TO BE USED DURING STARTUP MUST
//* BE SPECIFIED VIA OLDSDEF AND WADSDEF CONTROL
//* STATEMENTS IN THE DFSVSMXX MEMBER OF IMS PROCLIB.
//* THE ACTUAL SELECTION OF OLDS AND WADS MUST BE
//* TAILORED TO INSTALLATION REQUIREMENTS.  THE OLDS
//* AND WADS MUST BE PREDEFINED BY A SET UP JOB.
//* THE BLOCK SIZE OF ALL OLDS MUST BE THE SAME.
//* THE BLOCK SIZE AND DEVICE TYPE OF ALL WADS MUST
//* BE THE SAME.  AT LEAST 3 PRIMARY OLDS AND 1 WADS
//* MUST BE AVAILABLE FOR STARTUP.  THE BLOCK SIZE
//* SHOULD NOT BE SPECIFIED IN THIS JCL.  THE LOGGER
//* WILL GET THE BLOCK SIZE FROM THE VTOC.
//*
//DFSOLP00 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLP00,DISP=SHR
//DFSOLP01 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLP01,DISP=SHR
//DFSOLP02 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLP02,DISP=SHR
//DFSOLP03 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLP03,DISP=SHR
//DFSOLP04 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLP04,DISP=SHR
//DFSOLP05 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLP05,DISP=SHR
//*
//DFSOLS00 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLS00,DISP=SHR
//DFSOLS01 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLS01,DISP=SHR
//DFSOLS02 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLS02,DISP=SHR
//DFSOLS03 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLS03,DISP=SHR
//DFSOLS04 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLS04,DISP=SHR
//DFSOLS05 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.OLS05,DISP=SHR
//*
//DFSWADS0 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.WADS0,DISP=SHR
//DFSWADS1 DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.WADS1,DISP=SHR
//*********** IMSMON  DD  CARDS  *****************
//*
//************* C O N D I T I O N A L   C H A N G E ******************
//* IF MONITOR LOGGING IS ENABLED,
//* THEN UN-COMMENT THE IMSMON DD STATEMENT.
//* HOWEVER:
//* THE IMSMON DD STATEMENT MUST BE REMOVED IF
//* THIS DATA SET IS TO BE DYNAMICALLY ALLOCATED.
//*
//*IMSMON   DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS1.IMSMON,DISP=(,KEEP),
//*         VOL=(,,,99),UNIT=(&LOGT,,DEFER)
//************* E N D   C O N D I T I O N A L   C H A N G E **********
//*
//IMSACBA  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.ACBLIBA,DISP=SHR
//IMSACBB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.ACBLIBB,DISP=SHR
//MODBLKSA DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.MODBLKSA,DISP=SHR
//MODBLKSB DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.MODBLKSB,DISP=SHR
//MODSTAT  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.MODSTAT,DISP=SHR
//******** SYSTEM REQUIRED DD CARDS **************
//*
//SYSUDUMP DD SYSOUT=&SOUT,
//         DCB=(LRECL=125,RECFM=FBA,BLKSIZE=3129),
//         SPACE=(6050,300,,,ROUND)
//IMSRDS   DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.RDS,DISP=SHR
//PRINTDD  DD SYSOUT=&SOUT
//*
//****** EXTERNAL SUBSYSTEM DD CARDS  ***********
//*
//* USER MAY OPTIONALLY ADD THE DFSESL DD CARD
//* FOR EXTERNAL SUBSYSTEM CONNECTION.
//*
//************ DATA BASE DD CARDS ***************
//*
//* USER MAY OPTIONALLY SUPPLY THE DD STATEMENTS
//* FOR THE ON-LINE DATA BASES TO BE
//* INSERTED HERE PRIOR TO ATTEMPTING
//* AN ON-LINE SYSTEM EXECUTION USING
//* THIS PROCEDURE.
//* IF NO DD STATEMENTS ARE SUPPLIED FOR
//* A DATA BASE, IMS ASSUMES THAT THIS
//* DATA BASE HAS BEEN DESCRIBED THROUGH
//* THE DFSMDA MACRO.
//* IF THE USER WILL BE EXECUTING WITH THE DL/I
//* SAS OPTION, THESE DD STATEMENTS SHOULD BE ADDED
//* TO THE DLISAS PROCLIB MEMBER OR DESCRIBED
//* THROUGH THE DFSMDA MACRO.
//*
