//******************************************************************
//*  DFSBMP Job
//*
//*  This job is used to execute the IMSBATCH procedure,
//*  which executes an IMS online batch message processing
//*  address space.
//*
//***********************************************************@SCPYRT**
//*
//*  Licensed Materials - Property of IBM
//*
//*  5635-A06
//*
//*      Copyright IBM Corp. 2016      All Rights Reserved
//*
//*  US Government Users Restricted Rights - Use, duplication or
//*  disclosure restricted by GSA ADP Schedule contract with
//*  IBM Corp.
//*
//***********************************************************@ECPYRT**
//*
//BMPJOB   JOB 1,IMS,MSGLEVEL=1,PRTY=11,CLASS=A,MSGCLASS=A,REGION=52K
//       EXEC IMSBATCH,
//            IMSID={{ DFS_IMS_SSID }}
