**********************************************************************
*       DFSPBIMS
*
*       Sample DFSPBIMS member of the IMS PROCLIB data set.
*
*       Use the DFSPBIMS member to specify execution parameters
*       for the DB/DC control region.
*
*************************************************************@SCPYRT**
*
*    Licensed Materials - Property of IBM
*
*    5635-A06
*
*        Copyright IBM Corp. 2016      All Rights Reserved
*
*    US Government Users Restricted Rights - Use, duplication or
*    disclosure restricted by GSA ADP Schedule contract with
*    IBM Corp.
*
*************************************************************@ECPYRT**
ALOT=60,
APPLID1={{ IST_VTAM_IMSAPPLID }},
ARMRST=N,
ASOT=60,
AUTO=N,
BSIZ=04096,
CIOP=2000,
CMDMCS=Y,
CRC={{ DFS_IMS_CRC }},
CSAPSB=12,
DBBF=0,
DBFX=01150,
DBRCNM={{ DFS_IMS_SSID }}DRC,
DBWP=024,
DFSDF=000,
DLINM={{ DFS_IMS_SSID }}DLI,
DLIPSB=700,
DMB=200,
DSCT=I,
EMHL=256,
EPCB=0012,
ETO=Y,
EXVR=Y,
FBP=00048,
FIX=DC,
FMTO=D,
FP=Y,
FRE=00030,
GRNAME={{ DFS_IMSXCFGroup }},
IMSGROUP={{ DFS_IMS_SSID }},
IMSID={{ DFS_IMS_SSID }},
IRLM=N,
IRLMNM={{ DXR_IRLM_SSID }},
ISIS=A,
LGNR=10,
LSO=S,
MAXPST=
MSDB=C,
OTHR=005,
OTMA=Y,
OTMASE=N,
PRDR={{ DFS_IMS_SSID }}RDR,
PRLD=DC,
PSB=0048,
PSBW=950,
PST=5,
QBUF=0005,
QTL=050,
QTU=075,
RCF=A,
RECA=50,
RECASZ=4096,
RDS=4096,
RES=Y,
RRS={{ DFS_useRRS }},
SAV=005,
SGN=Z,
SRCH=0,
SSM=SSM,
SUF=I,C
TRN=Y,
VAUT=1,
VSPEC=DC,
WKAP=048
