//******************************************************************
//*  DFSWT000 Procedure
//*
//*  This procedure invokes the Spool SYSOUT utility program
//*  (DFSUPRT0) for printing the Spool SYSOUT dataset.
//*
//*  The high-level qualifier of the IMS data sets is IMS.
//*  If your installation does not use this default value,
//*  then you will need to modify the high-level qualifier.
//*
//************* C O N D I T I O N A L   C H A N G E ******************
//*  IMPORTANT:
//*
//*  This procedure is designed to invoke the utility program
//*  for a group of SPOOL devices associated with a single
//*  LINEGRP definition in IMS Sysgen Stage 1 definitions.
//*
//*  For example, using the following stage 1 definition:
//*    LINEGRP  DDNAME=(SPOOL1,SPOOL2,SPOOL3),UNITYPE=SPOOL
//*  you would update this procedure to include DD statements
//*  for each of the SPOOL definitions in the LINEGRP:
//*    //SPOOL1  DD DISP=SHR,DSN=IMS.&SYS1.SYSO1
//*    //SPOOL2  DD DISP=SHR,DSN=IMS.&SYS1.SYSO2
//*    //SPOOL3  DD DISP=SHR,DSN=IMS.&SYS1.SYSO3
//*
//*  If you have multiple LINEGRP statements for SPOOL devices,
//*  then you can copy this DFSWT000 sample into separate
//*  procedures (ie DFSWT001, DFSWT002, etc).
//*
//*  Refer to the 'Contitional Change' comments lines below.
//************* E N D   C O N D I T I O N A L   C H A N G E **********
//*
//***********************************************************@SCPYRT**
//*
//*  Licensed Materials - Property of IBM
//*
//*  5635-A06
//*
//*      Copyright IBM Corp. 2016      All Rights Reserved
//*
//*  US Government Users Restricted Rights - Use, duplication or
//*  disclosure restricted by GSA ADP Schedule contract with
//*  IBM Corp.
//*
//***********************************************************@ECPYRT**
//*
//       PROC SOUT=A,RGN=30K,SYS1=,SYS2=
//*
//PRINT  EXEC PGM=DFSUPRT0,REGION=&RGN
//STEPLIB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.SDFSRESL,DISP=SHR
//SYSPRINT DD SYSOUT=&SOUT,DCB=BLKSIZE=1410
//SYSUDUMP DD SYSOUT=&SOUT
//SPOOL1  DD DISP=SHR,DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS1.SYSO1
//************* C O N D I T I O N A L   C H A N G E ******************
//* ADD ADDITIONAL SPOOLx DD STATEMENTS AS NEEDED
//* FOR EACH SPOOL DEFINED IN THE LINEGRP BEING PROCESSED.
//* UPDATE THE FOLLOWING:
//*  - SPOOLx
//*  - SYSOx
//*SPOOL2  DD DISP=SHR,DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS1.SYSO2
//*SPOOL3  DD DISP=SHR,DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS1.SYSO3
//*    ETC.
//************* E N D   C O N D I T I O N A L   C H A N G E **********
