//******************************************************************
//*  OLCUTL Procedure
//*
//*  This procedure invokes the DFSUOCU0 utility, specifying
//*  the parameters you select for the library type,
//*  input library, output library, and IEBCOPY parameters.
//*
//*  The high-level qualifier of the IMS data sets is IMS.
//*  If your installation does not use this default value,
//*  then set the NODEx parameters, which correspond
//*  to the names specified in the IMSGEN macro.
//*
//*  The default data set qualifier for the OLCSTAT data set
//*  is IMSPLEX.
//*  If your installation overrides this default value
//*  in the IMSPLEX parameter of the sysgen IMSGEN macro,
//*  then you should set the OLCPLEX parameter of this procedure.
//*
//************* C O N D I T I O N A L   C H A N G E ******************
//*  IMPORTANT: This procedure needs to be modified if
//*  any of the following are true:
//*  - DBCTL system
//*  - XRF system
//*  Look for the 'Conditional Change' comment lines.
//************* E N D   C O N D I T I O N A L   C H A N G E **********
//*
//***********************************************************@SCPYRT**
//*
//*  Licensed Materials - Property of IBM
//*
//*  5635-A06
//*
//*      Copyright IBM Corp. 2016      All Rights Reserved
//*
//*  US Government Users Restricted Rights - Use, duplication or
//*  disclosure restricted by GSA ADP Schedule contract with
//*  IBM Corp.
//*
//***********************************************************@ECPYRT**
//*
//       PROC TYPE=,IN=,OUT=,SOUT=A,SYS=,SYS2=,
//        OLCGLBL='DUMMY,',OLCLOCL=,
//        OLCPLEX={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.IMSPLEX
//*
//S      EXEC PGM=DFSUOCU0,PARM=(&TYPE,&IN,&OUT)
//STEPLIB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.SDFSRESL,DISP=SHR
//MODBLKS  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.MODBLKS,DISP=SHR
//MODBLKSA DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.MODBLKSA,DISP=SHR
//MODBLKSB DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.MODBLKSB,DISP=SHR
//IMSACB   DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.ACBLIB,DISP=SHR
//IMSACBA  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.ACBLIBA,DISP=SHR
//IMSACBB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.ACBLIBB,DISP=SHR
//************* C O N D I T I O N A L   C H A N G E ******************
//*  IF THIS IS A DBCTL SYSTEM, THEN DELETE THESE STATEMENTS:
//*    FORMAT, FORMATA, FORMATB
//************* E N D   C O N D I T I O N A L   C H A N G E **********
//FORMAT   DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.FORMAT,DISP=SHR
//FORMATA  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.FORMATA,DISP=SHR
//FORMATB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS2.FORMATB,DISP=SHR
//MODSTAT  DD &OLCLOCL.DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.MODSTAT,
//         DISP=SHR
//************* C O N D I T I O N A L   C H A N G E ******************
//*  IF THIS IS AN XRF SYSTEM, THEN UN-COMMENT THE
//*  FOLLOWING STATEMENTS:
//*MODSTAT2 DD &OLCLOCL.DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.&SYS.MODSTAT2,
//*         DISP=SHR
//************* E N D   C O N D I T I O N A L   C H A N G E **********
//OLCSTAT  DD &OLCGLBL.DSN=&OLCPLEX..OLCSTAT,
//         DISP=OLD
//SYSUDUMP DD SYSOUT=&SOUT
//SYSPRINT DD SYSOUT=&SOUT
//SYSUT3   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT4   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//COPYCTL  DD DSN=&&COPYCTL,DISP=(NEW,DELETE),
//         UNIT=SYSDA,SPACE=(CYL,(1,1))
