---
# tasks file for db2_get_status_instance

- name: Check status of an instance
  uri:
    url: "{{ base_url }}/instances/{{INSTANCE_ID}}/"
    validate_certs: no
    user: "{{ username }}"
    password: "{{ password }}"
    method: GET
    headers:
        Authorization: "Bearer {{ACCESS_TOKEN}}"
    status_code: 200
