//HZSPRINT JOB 'RACF CERT EXPIRATION CHECK',
//         MSGCLASS=H,MSGLEVEL=(1,1),CLASS=A,
//         NOTIFY=&SYSUID
//HZSPRINT EXEC PGM=HZSPRNT,TIME=100,REGION=0M,PARMDD=SYSIN
//SYSIN DD *,DLM='@@'
CHECK(IBMRACF,RACF_CERTIFICATE_EXPIRATION)
,EXCEPTIONS
@@
//SYSOUT   DD SYSOUT=A,DCB=(LRECL=256)
//