//ACTACB JOB 'testing',
//  NOTIFY=OMVSADM,
//  USER=OMVSADM,
//  MSGCLASS=E,
//  MSGLEVEL=(1,1),
//  CLASS=K
//********************************************************
//* FUCNTION: ONLINE CHANGE COPY UTILITY
//********************************************************
//O PROC TYPE=ACB,IN=S,OUT=A,SOUT=A,OLCGLBL='DUMMY,',OLCLOCL=
// PEND
//S      EXEC PGM=DFSUOCU0,PARM=(ACB,S,A,,,)
//STEPLIB  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.SDFSRESL,DISP=SHR
//MODBLKS  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.MODBLKS,DISP=SHR
//IMSACB   DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.ACBLIB,DISP=SHR
//IMSACBA  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.ACBLIBA,DISP=SHR
//FORMAT   DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.FORMAT,DISP=SHR
//MODSTAT  DD DSN={{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.MODSTAT,
//         DISP=SHR
//SYSUDUMP DD SYSOUT=A
//SYSPRINT DD SYSOUT=A
//SYSUT3   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT4   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//COPYCTL  DD DSN=&&COPYCTL,DISP=(NEW,DELETE),
//         UNIT=SYSDA,SPACE=(CYL,(1,1))
//