-Djava.class.path=/usr/lpp/ims/dev/i15ajav/usr/lpp/ims/ims15/imsjava/imsudb.jar:/usr/lpp/ims/dev/i15ajav/usr/lpp/ims/ims15/imsjava/imsutm.jar:/usr/lpp/ims/dev/i15ajav/usr/lpp/ims/ims15/imsjava/samples/OpenDBIVP.jar:/usr/lpp/ims/dev/I13tjav/usr/lpp/ims/ims13/imsjava/classis/imsjavaBase.jar:/usr/lpp/ims/dev/I13tjav/usr/lpp/ims/ims13/imsjava/classis/imsjavaTM.jar:/usr/lpp/ims/dev/I13tjav/usr/lpp/ims/ims13/imsjava/classis/imsJDBC.jar:/usr/lpp/ims/dev/I13tjav/usr/lpp/ims/ims13/imsjava/classis/imsDBJCA.jar:/usr/lpp/ims/dev/I13tjav/usr/lpp/ims/ims13/imsjava/classis/imsXQuery.jar:/usr/lpp/ims/dev/I13tjav/usr/lpp/ims/ims13/imsjava/classis/imsDAS.jar:/usr/lpp/ims/dev/I13tjav/usr/lpp/ims/ims13/imsjava/classis/ivp/samples.jar:/usr/lpp/db2/db2c10/jdbc/classes/db2jcc.jar:/usr/lpp/db2/db2c10/jdbc/classes/db2jcc_license_cisuz.jar
