{# # Copyright (c) IBM Corporation 2020
# Apache License, Version 2.0 (see https://opensource.org/licenses/Apache-2.0)
 #}
 DUMP -
    OUTDD(ARCHIVE) -
    DS(INCL( -
{% for data_set in data_sets_to_dump %}
        {{ data_set | upper }}{{ " - " if loop.index != loop.length else "))" }}
{% endfor %}
