//CM.SYSUT1 DD DATA,DLM=ZZ
//{{ DFS_IMS_SSID }}MPP1 JOB ACTINFO1,
// 'PGMRNAME',
// CLASS={{ JOB_CLASS }},
// MSGCLASS=H,MSGLEVEL=(1,1),
// NOTIFY={{ DFS_IMS_USERID }},
// REGION=512M
//*
/*JOBPARM PROCLIB=PROC99
//*
//* SKELETON: DFSIXS19
//*
//* FUNCTION: IMBED - EXECUTION JOB FOR MPP #1 - {{ DFS_IMS_SSID }}
//*********************************************************************
//*
//************************************************************@SCPYRT**
//*                                                                   *
//*  LICENSED MATERIALS - PROPERTY OF IBM                             *
//*                                                                   *
//*  5635-A04                                                         *
//*                                                                   *
//*      COPYRIGHT IBM CORP. 1989,2015 ALL RIGHTS RESERVED            *
//*                                                                   *
//*  US GOVERNMENT USERS RESTRICTED RIGHTS - USE, DUPLICATION OR      *
//*  DISCLOSURE RESTRICTED BY GSA ADP SCHEDULE CONTRACT WITH          *
//*  IBM CORP.                                                        *
//*                                                                   *
//************************************************************@ECPYRT**
//*
//MPP1     EXEC PROC=DFSMPR,TIME=(1440),
//         NBA=6,
//         OBA=5,
//         SOUT='*',              SYSOUT CLASS
//         CL1=001,               TRANSACTION CLASS 1
//         CL2=002,               TRANSACTION CLASS 2
//         CL3=003,               TRANSACTION CLASS 3
//         CL4=004,               TRANSACTION CLASS 4
//         TLIM=10,               MPR TERMINATION LIMIT
//         SOD=,                  SPIN-OFF DUMP CLASS
//         IMSID={{ DFS_IMS_SSID }},       IMSID OF IMS CONTROL REGION
//         PREINIT=DC,            PROCLIB DFSINTXX MEMBER
//         PWFI=Y                 PSEUDO=WFI
//*
//* OVERRIDE PROC DD STATEMENTS
//*
//* --NONE--
//*
//* ADDITIONAL DD STATEMENTS
//*
//DFSCTL   DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_HLQ1 }}.IMS1.PROCLIB(DFSSBPRM)
//DFSSTAT  DD SYSOUT=*
//* REXX EXEC SOURCE LOCATION
//SYSEXEC  DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_HLQ1 }}.IMS1.INSTALIB
//         DD DISP=SHR,
//            DSN={{ DFS_AUTH_LIB_SYSHLQ }}.SDFSEXEC
//* REXX INPUT LOCATION WHEN STACK IS EMPTY
//SYSTSIN  DD *
/*
//* REXX OUTPUT LOCATION
//SYSTSPRT DD SYSOUT=*
//* COBOL OUTPUT LOCATION
//SYSOUT   DD SYSOUT=*
//* COBOL ABEND OUTPUT LOCATION
//SYSABOUT DD SYSOUT=*
//*