################################################################################
# Copyright (c) IBM Corporation 2020, 2021
################################################################################

################################################################################
# Minimum required configuration for this playbook.
# For additional `ansible.cfg` configuration options, review:
#   https://docs.ansible.com/ansible/latest/reference_appendices/config.html
#   https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg
################################################################################

[defaults]
forks = 25
display_skipped_hosts = no
callback_whitelist = profile_tasks, timer

[ssh_connection]
pipelining = True

[callback_profile_tasks]
sort_order = descending
output_limit = all

