---
# RACF preparation
- name: RACF Preparation
  collections:
    - ibm.ibm_zos_core
    - ibm.ibm_zos_ims

  block:

    - when: prep_racf and not provision
      block:

        - ansible.builtin.set_fact:
            eager_role_path: '{{role_path}}'

        - ansible.builtin.include_role:
            name: send-template
          vars:
            path: '{{ eager_role_path }}/templates/DFSC105J.j2'


    - name: RACF security exits for IMS
      command: 'jsub -f {{ uss_file_path }}/DFSC105J.j2'
      # zos_job_submit:
      #   src: '{{ uss_file_path }}/DFSC105J.j2'
      #   location: USS
      #   wait: true
      #   wait_time_s: 30
      when: prep_racf
