################################################################################
# Copyright (c) IBM Corporation 2024
################################################################################

################################################################################
# Minimum required configuration for this playbook.
# For additional `ansible.cfg` configuration options, review:
#   https://docs.ansible.com/ansible/latest/reference_appendices/config.html
#   https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg
################################################################################

[defaults]
forks = 25
roles_path = ../../../roles:.

[ssh_connection]
pipelining = True
