---
# Sample module-level playbook of the IBM Z HMC Collection

- hosts:
    - my_hmc_list
  vars_files:
    - vault.yml
  vars:
    adapter_name: sample-hs-1  # Adjust to an existing adapter in your CPC
  collections:
    - ibm.ibm_zhmc
  tasks:

    - name: "Get facts for adapter {{ adapter_name }}"
      delegate_to: localhost
      ibm.ibm_zhmc.zhmc_adapter:
        hmc_host: "{{ ansible_host }}"
        hmc_auth: "{{ hmc_auth[inventory_hostname] }}"
        cpc_name: "{{ cpc_name }}"
        name: "{{ adapter_name }}"
        state: facts
      register: result

    - name: Print the result
      ansible.builtin.debug:
        var: result
