-Djava.class.path=/usr/lpp/ims/ims15/imsjava/imsudb.jar:/usr/lpp/ims/ims15/imsjava/imsutm.jar:/usr/lpp/ims/ims15/imsjava/samples/OpenDBIVP.jar:/usr/lpp/ims/ims15/imsjava/classic/imsjavaBase.jar:/usr/lpp/ims/ims15/imsjava/classic/imsjavaTM.jar:/usr/lpp/ims/ims15/imsjava/classic/imsJDBC.jar:/usr/lpp/ims/ims15/imsjava/classic/imsDBJCA.jar:/usr/lpp/ims/ims15/imsjava/classic/imsXQuery.jar:/usr/lpp/ims/ims15/imsjava/classic/imsDAS.jar:/usr/lpp/ims/ims15/imsjava/classic/ivp/samples.jar:/usr/lpp/db2c10/jdbc/classes/db2jcc.jar:/usr/lpp/db2c10/jdbc/classes/db2jcc_license_cisuz.jar.